<div class="panel panel-default" *ngIf="task && !requestInProgress">
  <!--Buttonbar-->
  <div class="panel-heading">
    <div *ngIf="showDetail" class="pull-left btn-group align-header">
      <button (click)="backClicked()" class="btn btn-default no-style blue visible-xs visible-sm hidden">
        <span class="material-icons md-20 blue">arrow_back</span>
      </button>
    </div>
    <div class="pull-right btn-group">
      <button type="button" (click)="toggleFormValidation = !toggleFormValidation" class="btn btn-default btn-primary"
              data-toggle="tooltip" title="Save">
        <span class="material-icons md-20 white">save</span>
      </button>
      <ng-container *ngIf="currentId != 'new-task'">
        <button type="button" title="Open task to work on it" class="btn btn-default" aria-label="Left Align"
                [disabled]="workOnTaskDisabled()" (click)="openTask()">
          <span class="material-icons md-20 blue">open_in_new</span>
        </button>
        <button type="button" (click)="resetTask()" class="btn btn-default" data-toggle="tooltip" title="Undo Changes">
          <span class="material-icons md-20 blue">undo</span>
        </button>
        <button type="button" title="Delete Task" class="btn btn-default remove" (click)="deleteTask()">
          <span class="material-icons md-20 red">delete</span>
        </button>
      </ng-container>
    </div>
    <h4 class="panel-header">{{task.name}}&nbsp;
      <span *ngIf="!task.taskId" class="badge warning"> {{'Creating Task'}}</span>
    </h4>
  </div>
  <!--Accordion Fields for Sectioned View of Data-->
  <div class="panel-body">
    <accordion *ngIf="task && !requestInProgress">
      <!--Information-->
      <accordion-group panelClass="customClass" isOpen="true" (isOpenChange)="accordion1State = $event">
        <button class="btn  btn-block clearfix" accordion-heading>
          <div class="pull-left float-left">1 - Information</div>
          <span class="float-right pull-right material-icons md-20 blue">{{accordion1State ?
            'expand_more' : 'expand_less'}}</span>
        </button>
        <taskana-task-details-general-fields [task]="task" [saveToggleTriggered]="toggleFormValidation"
                                             (formValid)="onSave()"></taskana-task-details-general-fields>
      </accordion-group>
      <!--Status Details-->
      <accordion-group panelClass="customClass" (isOpenChange)="accordion2State = $event">
        <button class="btn  btn-block clearfix" accordion-heading>
          <div class="pull-left float-left">2 - Status details</div>
          <span class="float-right pull-right material-icons md-20 blue">{{accordion2State ?
            'expand_more' : 'expand_less'}}</span>
        </button>
        <taskana-task-status-details [task]="task"></taskana-task-status-details>
      </accordion-group>
      <!--Custom Fields-->
      <accordion-group panelClass="customClass" (isOpenChange)="accordion3State = $event">
        <button class="btn  btn-block clearfix" accordion-heading>
          <div class="pull-left float-left">3 - Custom fields</div>
          <span class="float-right pull-right material-icons md-20 blue">{{accordion3State ?
            'expand_more' : 'expand_less'}}</span>
        </button>
        <taskana-task-custom-fields [task]="task"></taskana-task-custom-fields>
      </accordion-group>
      <!--Custom Attributes-->
      <accordion-group panelClass="customClass" (isOpenChange)="accordion4State = $event">
        <button class="btn  btn-block clearfix" accordion-heading>
          <div class="pull-left float-left">4 - Custom attributes</div>
          <span class="float-right pull-right material-icons md-20 blue">{{accordion4State ?
            'expand_more' : 'expand_less'}}</span>
        </button>
        <taskana-task-attribute-value [attributes]="task.customAttributes"></taskana-task-attribute-value>
      </accordion-group>
      <!--Callback Information-->
      <accordion-group panelClass="customClass" (isOpenChange)="accordion5State = $event">
        <button class="btn  btn-block clearfix" accordion-heading>
          <div class="pull-left float-left">5 - Callback information</div>
          <span class="float-right pull-right material-icons md-20 blue">{{accordion5State ?
            'expand_more' : 'expand_less'}}</span>
        </button>
        <taskana-task-attribute-value [attributes]="task.callbackInfo"
                                         [callbackInfo]="true"></taskana-task-attribute-value>
      </accordion-group>
    </accordion>
  </div>
</div>
