@import '../../../../assets/colors';

::ng-deep .btn-block {
    background-color: whitesmoke;
    font-size: 16px;
    font-weight: 700;
}

::ng-deep .panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border: none;
}

::ng-deep .collapse {
    -webkit-transition: max-height 0.5s ease;
    -moz-transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
    -ms-transition: max-height 0.5s ease;
    transition: max-height 0.5s ease;

    display: block!important;
    overflow: hidden!important;
    visibility: visible!important;
    max-height: 0;

    &.in {
        max-height: 2000px;
        overflow: visible!important;
    }
  }
