<taskana-spinner [isRunning]="requestInProgress" class="floating"></taskana-spinner>
<div *ngIf="workbasket" id="wb-information" class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right">
            <button type="button" (click)="onSubmit()" class="btn btn-default btn-primary" data-toggle="tooltip" title="Save">
                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
            </button>
            <button type="button" (click)="onClear()" class="btn btn-default" data-toggle="tooltip" title="Undo Changes">
                <span class="glyphicon glyphicon-repeat blue" aria-hidden="true"></span>
            </button>
            <button type="button" (click)="removeDistributionTargets()" data-toggle="tooltip" title="Remove distribuition target" class="btn btn-default remove">
                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </button>
            <button type="button" (click)="copyWorkbasket()" data-toggle="tooltip" title="Copy" class="btn btn-default">
                <span class="glyphicon glyphicon-copy green-blue" aria-hidden="true"></span>
            </button>
            <button type="button" (click)="removeWorkbasket()" data-toggle="tooltip" title="Remove" class="btn btn-default remove">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </div>
        <h4 class="panel-header">{{workbasket.name}}&nbsp;
            <span *ngIf="!workbasket.workbasketId" class="badge warning"> {{badgeMessage}}</span>
        </h4>
    </div>
    <div class="panel-body">
        <form #WorkbasketForm="ngForm">
            <div class="col-md-6">
                <div class="form-group required">
                    <label for="wb-key" class="control-label">Key</label>
                    <input type="text" required #key="ngModel" class="form-control" id="wb-key" placeholder="Key" [(ngModel)]="workbasket.key"
                        name="workbasket.key">
                    <taskana-field-error-display [displayError]="!isFieldValid('workbasket.key')" [validationTrigger]="this.toogleValidationMap.get('workbasket.key')"
                        errorMessage="* Key is required">
                    </taskana-field-error-display>
                </div>
                <div class="form-group required">
                    <label for="wb-name" class="control-label">Name</label>
                    <input type="text" required #name="ngModel" class="form-control" id="wb-name" placeholder="Name" [(ngModel)]="workbasket.name"
                        name="workbasket.name">
                    <taskana-field-error-display [displayError]="!isFieldValid('workbasket.name')" [validationTrigger]="this.toogleValidationMap.get('workbasket.name')"
                        errorMessage="* Name is required">
                    </taskana-field-error-display>
                </div>
                <div class="form-group required">
                    <label for="wb-owner" class="control-label">Owner</label>
                    <taskana-type-ahead *ngIf="ownerField.lookupField else ownerInput" required #owner="ngModel" name="workbasket.owner" [(ngModel)]="workbasket.owner"
                        placeHolderMessage="* Owner is required" [validationValue]="this.toogleValidationMap.get('workbasket.owner')"
                        [displayError]="!isFieldValid('workbasket.owner')"></taskana-type-ahead>
                    <ng-template #ownerInput>
                        <input type="text" required #owner="ngModel" class="form-control" id="wb-owner" placeholder="Owner" [(ngModel)]="workbasket.owner"
                            name="workbasket.owner">
                        <taskana-field-error-display [displayError]="!isFieldValid('workbasket.owner')" [validationTrigger]="this.toogleValidationMap.get('workbasket.owner')"
                            errorMessage="* Owner is required">
                        </taskana-field-error-display>
                    </ng-template>
                </div>
                <div class="form-group ">
                    <label for="wb-domain" class="control-label">Domain</label>
                    <input type="text" #domain="ngModel" class="form-control" disabled id="wb-domain" placeholder="Domain" [(ngModel)]="workbasket.domain"
                        name="workbasket.domain">
                </div>
                <div class="form-group">
                    <label for="wb-type" class="control-label">Type</label>
                    <div class="dropdown clearfix btn-group">
                        <button class="btn btn-default" type="button" id="dropdownMenu24" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <taskana-icon-type class="vertical-align" [type]='workbasket.type'></taskana-icon-type>
                            {{allTypes.get(workbasket.type)}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenu">
                            <li>
                                <a *ngFor="let type of allTypes | mapValues | removeEmptyType" (click)="selectType(type.key)">
                                    <taskana-icon-type class="vertical-align" [type]='type.key' [text]="type.value"></taskana-icon-type>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="wb-description" class="control-label">Description</label>
                    <textarea class="form-control" rows="5" id="wb-description" placeholder="Description" [(ngModel)]="workbasket.description"
                        name="workbasket.description"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="wb-org-level-1" class="control-label">OrgLevel 1</label>
                    <input type="text" class="form-control" id="wb-org-level-1" placeholder="OrgLevel 1" [(ngModel)]="workbasket.orgLevel1" name="workbasket.orgLevel1">
                </div>
                <div class="form-group">
                    <label for="wb-org-level-2" class="control-label">OrgLevel 2</label>
                    <input type="text" class="form-control" id="wb-org-level-2" placeholder="OrgLevel 2" [(ngModel)]="workbasket.orgLevel2" name="workbasket.orgLevel2">
                </div>
                <div class="form-group">
                    <label for="wb-org-level-3" class="control-label">OrgLevel 3</label>
                    <input type="text" class="form-control" id="wb-org-level-3" placeholder="OrgLevel 3" [(ngModel)]="workbasket.orgLevel3" name="workbasket.orgLevel3">
                </div>
                <div class="form-group">
                    <label for="wb-org-level-4" class="control-label">OrgLevel 4</label>
                    <input type="text" class="form-control" id="wb-org-level-4" placeholder="OrgLevel 4" [(ngModel)]="workbasket.orgLevel4" name="workbasket.orgLevel4">
                </div>
                <div *ngIf="custom1Field.visible" class="form-group">
                    <label for="wb-custom-1" class="control-label">{{custom1Field.field}}</label>
                    <input type="text" class="form-control" id="wb-custom-1" [placeholder]="custom1Field.field" [(ngModel)]="workbasket.custom1"
                        name="workbasket.custom1">
                </div>
                <div *ngIf="custom2Field.visible" class="form-group">
                    <label for="wb-custom-2" class="control-label">{{custom2Field.field}}</label>
                    <input type="text" class="form-control" id="wb-custom-2" [placeholder]="custom2Field.field" [(ngModel)]="workbasket.custom2"
                        name="workbasket.custom2">
                </div>
                <div *ngIf="custom3Field.visible" class="form-group">
                    <label for="wb-custom-3" class="control-label">{{custom3Field.field}}</label>
                    <input type="text" class="form-control" id="wb-custom-3" [placeholder]="custom3Field.field" [(ngModel)]="workbasket.custom3"
                        name="workbasket.custom3">
                </div>
                <div *ngIf="custom4Field.visible" class="form-group">
                    <label for="wb-custom-4" class="control-label">{{custom4Field.field}}</label>
                    <input type="text" class="form-control" id="wb-custom-4" [placeholder]="custom4Field.field" [(ngModel)]="workbasket.custom4"
                        name="workbasket.custom4">
                </div>
            </div>
        </form>
    </div>
</div>
