$background-color: #224562;
$background-color-sidenav: #175263;
$selected-border-color: #22a39f;
$unselected-text: #9d9d9d;

.navbar-inverse {
    border:none;
    background-color: $background-color;
    box-shadow: 0px 1px 10px -1px $background-color;
    
}

.navbar-toggle{
    margin: 5px 0px;
    font-size: 20px;
    &.logout{
        font-size: 20px;
    }
    
}
button.navbar-toggle:hover > span{
    color:$selected-border-color;
}
ul.nav > p {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 0px;
}

.navbar-inverse .navbar-toggle, .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    border: none;
    background-color: transparent;
}

svg-icon.logo {
    float: left;
    width: 150px;
    height: 55px;
    padding: 6px 5px 5px 5px;
}

h2.navbar-brand{
    vertical-align: middle;
    text-decoration: none;
    color: white;
    padding: 17px 0px 0px 0px;
    font-size: 20px;
}

.navbar-backdrop{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990;

}

.domain-form {
    margin: 13px;
    color: white;
    font-size: 18px;
    > div{
        cursor: pointer;
        > button {
            color: white;
            background-color: $background-color;
            border: none;
            font-size: 16px;
            border-bottom: 1px solid grey;
            margin-left:5px;
        }
    }
}

.nav-content{
    margin-top: 5px;
}

.nav-version {
    color: $unselected-text;
    margin: 5px;
    position: absolute;
    bottom: 5px;
    font-size: 8px;
}
 
/*
 * All side bar links styling.
*/
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}


.menu > span:hover,
.submenu > span:hover
 {
    color: white;
    cursor: pointer;
}

.sidenav {
    position:fixed;
    z-index:999;
    margin-top: -1px;
    box-shadow: none;
    height: 100%;
    background-color: $background-color-sidenav;
    box-shadow: 3px 0px 10px -1px $background-color;
}

.navbar {
    height: 55px;
    margin-bottom: 0px;
}

.menu,.submenu > span {
    margin-top: 15px;
    font-size: 20px;
    
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.menu,.submenu > span {
    padding-left: 12px;
    color: $unselected-text;
    outline: none;
    
}
.menu.selected,.submenu.selected {
    background-color: transparent;
     &> span{
        padding-left: 10px;
        border-left: $selected-border-color 5px solid;
        
        color: white;
    }
}

.menu > .submenu{   
    margin-left: 30px;
}

a {
    color: $unselected-text;
    &:hover{
        color:white;
    }
    text-decoration: none
}
