<div class="administration-overview">
  <nav backgroundColor="#f5f5f5" class="administration-overview__navbar" mat-tab-nav-bar>
    <a (click)="selectedTab = 'workbaskets'" [active]="selectedTab == 'workbaskets'"
       class="administration-overview__navbar-links" mat-tab-link
       routerLink="/taskana/administration/workbaskets">Workbaskets</a>
    <a (click)="selectedTab = 'classifications'" [active]="selectedTab == 'classifications'"
       class="administration-overview__navbar-links" mat-tab-link
       routerLink="/taskana/administration/classifications">Classifications</a>
    <a (click)="selectedTab = 'access-items-management'"
       [active]="selectedTab == 'access-items-management'"
       class="administration-overview__navbar-links"
       mat-tab-link routerLink="/taskana/administration/access-items-management">Access Items
      Management</a>
    <a (click)="selectedTab = 'task-routing'" *ngIf="(routingAccess)"
       [active]="selectedTab == 'task-routing'"
       class="administration-overview__navbar-links" mat-tab-link
       routerLink="/taskana/administration/task-routing">Task Routing</a>
  </nav>
  <div class="administration-overview__domain">
    <mat-form-field appearance="legacy">
      <mat-select [value]="selectedDomain" matTooltip="Select domain">
        <mat-option (click)="switchDomain(domain)" *ngFor="let domain of domains" [value]="domain">
          {{domain ? domain : 'MASTER DOMAIN'}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <router-outlet></router-outlet>
</div>
