<div class="input-group">
  <input class="form-control input-text" name="number" type="number" [(ngModel)]="value" [required]="required">
  <div class="input-group-btn-vertical">
    <button type="button" (click)="increase()" data-toggle="tooltip" title="increase value" class="btn btn-default">
      <span class="material-icons md-14 green-blue">arrow_drop_up</span>
    </button>
    <button type="button" (click)="decrease()" data-toggle="tooltip" title="decrease value" class="btn btn-default">
      <span class="material-icons md-14 green-blue">arrow_drop_down</span>
    </button>
  </div>
</div>
