.workbasket-list-full-height{
    height: calc(100vh - 57px);
}

.row.list-group {
    margin-left: 2px;
}

.list-group > li {
    border-left: none;
    border-right: none;
}

a > label{
    height: 2em;
    width: 100%;
}
dd, dt {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

dt > i {
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

li > div.row > dl {
    margin-bottom: 0px;
}
li > div.row > dl:first-child {
    margin-left: 10px;
}

.no-space {
    border-top: none;
    padding: 0px
}

li.list-group-item:hover, {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

li.list-group-item.active:hover, {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
