<div class="workbasket-list-full-height">
    <div class="footer-space">
        <div #wbToolbar>
            <taskana-workbasket-list-toolbar [workbaskets]="workbaskets" (performFilter)="performFilter($event)" (performSorting)="performSorting ($event)"></taskana-workbasket-list-toolbar>
        </div>
        <taskana-spinner [isRunning]="requestInProgress" class="centered-horizontally"></taskana-spinner>
        <div>
            <ul #wbList id="wb-list-container" class="list-group">
                <li class="list-group-item no-space">
                    <div class="row"></div>
                </li>
                <li class="list-group-item" *ngFor="let workbasket of workbaskets" [class.active]="workbasket.workbasketId == selectedId"
                    type="text" (click)="selectWorkbasket(workbasket.workbasketId)">
                    <div class="row">
                        <dl class="col-xs-1">
                            <taskana-icon-type class="vertical-align" [type]="workbasket.type" [selected]="workbasket.workbasketId === selectedId"></taskana-icon-type>
                        </dl>
                        <dl class="col-xs-10">
                            <dt>{{workbasket.name}},
                                <i>{{workbasket.key}} </i>
                            </dt>
                            <dd>{{workbasket.description}} &nbsp;</dd>
                            <dd>{{workbasket.owner}} &nbsp;</dd>
                        </dl>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <taskana-pagination [(workbasketsResource)]="workbasketsResource" (changePage)="changePage($event)"></taskana-pagination>
</div>