<h4>Belonging groups</h4>
<mat-dialog-content>
    <mat-list *ngIf="groups && groups.length > 0; else no">
        <mat-list-item *ngFor="let group of groups">
            {{group.name}}
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    <ng-template #no>The user is not associated to
        any groups
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions align="end" autofocus="false">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>