<taskana-shared-spinner [isRunning]="requestInProgress"></taskana-shared-spinner>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right">
      <div class="dropdown btn-group">
        <button type="button" (click)="cancelClaimTask()" class="btn btn-default">
          <span title="Cancel claim and return to task detail" class="material-icons md-20 blue">arrow_back</span>
        </button>
        <button type="button" (click)="completeTask()" class="btn btn-default">
          <span title="Complete task and return to task list" class="material-icons md-20 blue">check</span>
        </button>
        <button type="button" data-toggle="dropdown" aria-expanded="true" class="btn btn-default dropdown-toggle">
          <span title="Transfer task to another workbasket"
            class="material-icons md-20 blue">transfer_within_a_station</span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let workbasket of workbaskets">
            <a class="dropdown-item" (click)="transferTask(workbasket)">
              <label>{{workbasket.name}}</label>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel-header">
      <h4><b>{{task?.name}}</b></h4>
    </div>
  </div>
  <div class="panel-body" *ngIf="task">
    <div class="row">
      <ng-form #TaskForm="ngForm">
        <div class="col-md-6">
          <div class="form-group">
            <label for="task-description" class="control-label">Description</label>
            <textarea class="form-control" disabled rows="5" id="task-description" placeholder="Description"
              [(ngModel)]="task.description" name="task.description"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="task-note" class="control-label">Note</label>
            <input type="text" disabled class="form-control" id="task-note" placeholder="Task has no Note"
              [(ngModel)]="task.note" name="task.note">
          </div>
          <div class="form-group">
            <label for="task-due" class="control-label">Due Date</label>
            <input type="text" disabled class="form-control" id="task-due" placeholder="No deadline set"
              [(ngModel)]="task.due" name="task.due">
          </div>
        </div>
      </ng-form>
    </div>
    <div class="row">
      <iframe class="col-xs-12" *ngIf="link" [src]="link"></iframe>
    </div>
  </div>
</div>
