$selected-item: #e3f3f5;

.dual-list {
  min-height: 250px;
  padding: 0px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  & .row {
    padding: 0px 0px 0px 3px;
  }
  & .row:first {
    border-top: 1px solid #ddd;
  }

  & div.pull-right {
    margin-right: 17px;
  }

  & > .list-group {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  & > .list-group > li {
    border-left: none;
    border-right: none;
  }

  overflow-x: hidden;
  overflow-y: hidden;

  @media screen and (max-width: 991px) {
    height: calc((100vh - 241px) / 2);
    min-height: 120px;
    margin-bottom: 0;
  }
  max-height: calc(100vh - 194px);
  margin-bottom: 2px;
}

.infinite-scroll {
  overflow-y: scroll;
  height: calc(100vh - 233px);
  @media screen and (max-width: 991px) {
    height: calc((100vh - 315px) / 2);
    min-height: 83px;
  }
}

.header {
  margin: 2px -15px 1px -15px;
}

.list-group {
  margin-top: 8px;
}

ul > li {
  &:first-child.list-group-item.selected {
    border-color: #ddd;
  }
  &.list-group-item.selected {
    background-color: $selected-item;
  }
}

.list-left li {
  cursor: pointer;
}

button.no-style {
  background: none;
  border: none;
}

.row.list-group {
  margin-left: 2px;
}

.list-group > li {
  border-left: none;
  border-right: none;
}

a > label {
  height: 2em;
  width: 100%;
}
dd,
dt {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

dt > i {
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

li > div.row > dl {
  margin-bottom: 0px;
}

li.list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
}
