<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input class="form-control dropdown-toggle" auto-complete [(ngModel)]="result" [source]="autoCompleteData" placeholder="Search for Workbasket ..."/>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button"  (click)="searchBasket()" [disabled]="result==null || result.length==0" >Go!</button>
      </span>
    </div>
    <!-- /input-group -->
  </div>
  <!-- /.col-lg-18 -->
</div>
<!-- /.row -->

 