<div class="list-group-search">
  <div *ngIf="filterTypeIsWorkbasket(); else tasktype">
    <div class="row">
      <div class="dropdown col-xs-2">
        <button class="btn btn-default btn-sm" data-toggle="dropdown" type="button" id="dropdownMenufilter" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true">
          <taskana-icon-type [type]="filter.filterParams?.type"></taskana-icon-type>
        </button>
        <ul class="dropdown-menu dropdown-menu-users" role="menu">
          <li>
            <a *ngFor="let type of allTypes | mapValues" type="button" (click)="selectType(type.key); search()"
              data-toggle="tooltip" [title]="type.value">
              <taskana-icon-type [type]='type.key' [text]="type.value"></taskana-icon-type>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-4">
        <input type="text" [(ngModel)]="filter.filterParams.name" (keyup.enter)="search()" class="form-control input-sm" id="display-name-filter"
          placeholder="Filter name">
      </div>
      <div class="col-xs-4">
        <input type="text" [(ngModel)]="filter.filterParams.key" (keyup.enter)="search()" class="form-control input-sm" id="display-key-filter"
          placeholder="Filter key">
      </div>
      <button (click)="clear(); search()" type="button" class="btn btn-default btn-sm pull-right margin-right"
        data-toggle="tooltip" title="Clear">
        <span class="material-icons md-20 blue">clear</span>
      </button>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <input type="text" [(ngModel)]="filter.filterParams.description" (keyup.enter)="search()" class="form-control input-sm"
          id="display-name-description" placeholder="Filter description">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <input type="text" [(ngModel)]="filter.filterParams.owner" (keyup.enter)="search()" class="form-control input-sm" id="display-name-owner"
          placeholder="Filter owner">
      </div>
      <button (click)="search()" type="button" class="btn btn-default btn-sm pull-right margin-right" data-toggle="tooltip"
        title="Search">
        <span class="material-icons md-20 blue ">search</span>
      </button>
    </div>
  </div>
  <ng-template #tasktype>
    <div class="row">
      <div class="col-xs-2">
        <input type="text" [(ngModel)]="filter.filterParams.priority" (keyup.enter)="search()" data-toggle="tooltip"
          title="priority" class="form-control" id="display-priority-filter">
      </div>
      <div class="col-xs-4">
        <input type="text" [(ngModel)]="filter.filterParams.name" (keyup.enter)="search()" class="form-control" id="display-name-filter"
          placeholder="Filter name">
      </div>
      <div class="col-xs-4">
        <input type="text" [(ngModel)]="filter.filterParams.owner" (keyup.enter)="search()" class="form-control" id="display-owner-filter"
          placeholder="Filter owner">
      </div>
      <button (click)="clear(); search()" class="btn btn-default pull-right margin-right" type="button" data-toggle="tooltip"
        title="Clear">
        <span class="material-icons md-20 blue">clear</span>
      </button>
    </div>
    <div class="row">
      <div class="dropdown col-xs-2 col-xs-offset-2">
        <button class="btn btn-default" data-toggle="dropdown" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true" title="State: {{filter.filterParams.state ? filter.filterParams?.state : 'All'}}">
          <span>{{filter.filterParams.state ? filter.filterParams?.state : 'All'}}</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-users" role="menu">
          <li>
            <a *ngFor="let state of allStates | mapValues" type="button" (click)="selectState(state.key); search()"
              data-toggle="tooltip" [title]="state.value">
              <label class="blue">{{state.value}}</label>
            </a>
          </li>
        </ul>
      </div>
      <button (click)="search()" type="button" class="btn btn-default pull-right margin-right" data-toggle="tooltip"
        title="Search">
        <span class="material-icons md-20 blue">search</span>
      </button>
    </div>
  </ng-template>
</div>
