.dropdown-menu-users {
    &>li{
        margin-bottom: 5px;
    }
    margin-left: 15px;
}

.list-group-search {
    padding: 0px 15px;
    border-top: 1px solid #ddd;
}
.list-group-search {
    border-top: none;
}
row.padding {
    padding: 1px 0px;
}

.filter-list {
  list-style-type: none;
}

.filter-list > li {
  padding-top: 5px;
}
