@import '~assets/_colors';

.list-group-item {
  padding: 5px 0 2px 1px;
  border: none;
}

.tab-align {
  padding: 8px 12px 8px 0;
  margin-bottom: 0;

  & > div {
    margin: 6px 0;
  }
}

ul {
  list-style-type: none;
}

.blue-font {
  color: $blue;
}

.bold-blue {
  font-weight: bold;
  color: $blue;
}

svg-icon {
  fill: $blue;
}

//ToDo: Why? See style above
svg-icon.blue {
  fill: $blue;
}

//to avoid flex-growth this needs to be set hard. ToDo: Build a better flexgrid suiting for the nav!
.dropdown-button {
  width: 44px;
  height: 36px;
  > svg-icon {
    height: 16px;
    top: 0; left: -2px;
  }
  > .material-icons {
    margin-left: -4px;
  }
}
@media screen and (min-width: 991px) and (max-width: 1065px) {
  .dropdown-button {
    width: 37px;
    padding-left: 5px;
  }
}

small.margin-right.blue-font {
  margin-left: 4px;
}

div.dropdown-menu ul {
  padding: 15px;
}

div.input-group {
  margin-bottom: 1px;
}

