@import 'src/theme/_colors.scss';

.filter {
  &__collapsed-filter {
    display: flex;
    height: 36px;
  }

  &__expanded-filter {
    margin: -10px 0 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__all-icon {
    margin-right: 0 !important;
  }

  &__collapsed-filter-input-field {
    top: -10px;
    flex-grow: 1;
    margin: 0 8px 0 8px;
  }

  &__undo-buttons {
    margin-left: 4px;
  }

  &__search-button {
    background: $aquamarine;
    color: white;
    margin-left: 4px;
  }

  &__name-and-key-input {
    display: flex;
    justify-content: space-between;
  }

  &__action-buttons {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }
}
