language: java
jdk:
  - oraclejdk8
env:
  global:
    - NODE_VERSION: 6
cache:
  timeout: 604800 #1 week
  directories:
  - "$HOME/.m2"
  - "workplace/node_modules"
  - "admin/node_modules"
  - "monitor/node_modules"
before_install:
  - nvm install $NODE_VERSION
  - npm install -g @angular/cli >/dev/null 2>&1
install:
  - (cd workplace && npm install --no-progress && ng build --environment=prod --no-progress)
    && (cd admin && npm install --no-progress && ng build --environment=prod --no-progress)
    && (cd monitor && npm install --no-progress && ng build --environment=prod --no-progress)
    && mvn clean install -q -f lib/ -DskipTests=true -Dmaven.javadoc.skip=true -B
    && mvn clean install -q -f rest/ -DskipTests=true -B
script:
  - mvn verify -f lib/
    && mvn verify -f rest/
    && lib/deployment/deploy.sh -p lib/ -m "lib/taskana-core/ lib/taskana-spring/ lib/taskana-cdi/" -mf manifest.yml -avc rest/ -swarm lib/taskana-cdi/src/test/java/pro/taskana/TaskanaProducersTest.java
deploy:
  provider: cloudfoundry
  username: tobias.schaefer@novatec-gmbh.de
  password:
    secure: dQh3e8Zhi2ucd5NcxHZ337Ku2SFrt0qA8lghtExQU5bcdFziqYKJsVFdD19hNQE6DOZT8FV9OHTB3odZSvV7aa38sq4KDwzJVVitIyU3eNZP0S5AqAv0eKitqQhjY7rnjBIkgMQ2rGTZlAL9g/CQWPlB4rnUPLXv/7+pZP29M3OPK0hyIPw9I0FfU02cM+R2z8SYPRr4MYYbdsTdJeJz+1sKWwQiD4bDE/Kmcs7BALTZ3/HFmu2Kjxk7soERSpXlMvKDkHHJCJMSjQI6zT5Ja6yg4SgOgccLZKuaPwF+8a7RKPOtW+H74zzO/IE9FGimlRKFGHhoFmQh0oI1sMkhRyIH0n/rkCVzI6B8XjDBEdaRjfHZbAkrjapuvhLwSxyklut3CknbSxfgAo8tZefsGVETD1rYkfLA207bkxt6Wk+X1d2pCRFkUoeTjcB+IkqvftTJvTX5vyt927w0pyx/xg9gxBLA3bqzhRL7rwgXgqgrxNUDFT3nxExecPpdEinyVf+jQxmrb1uw1WEFM+dLjA3tByxMEy7PfnfqTvUs8dvs4em1Vln+N5K1+OqU93ze3FmPMmqY3/4r63qdVACtCqHlfGC3HQPUi6fWmBzVNhZ9rF6FJvkECTkvLklnOB9MIoneGk2v46slveUsxKSz985A2aMkYNO+p1VozS8rAfg=
  api: https://api.ng.bluemix.net
  organization: '"NovaTec Consulting GmbH"'
  space: Taskana
  on:
    repo: Taskana/taskana
