svg-icon.logo {
    float: left;
    width: 55px;
    height: 55px;
    margin: 0px 15px;
    fill:white
}

.logo-container {
    padding-left: 0px;
}

p.navbar-brand >a{
    text-decoration: none;
    color: #9d9d9d;
    &:hover {
        color: white;
    }
}
 
/*
 * All side bar links styling.
*/
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


.nav.nav-tabs { 
    & > li {
        & > a{
            min-height: 56px;
            padding-top: 17px;
        }
        
        &:first-child > a{
            border-left: none;
        }
    }
    & > p{
        margin: 0px;
    }
}

.navbar-brand {
    float: none;
}

.navbar-inverse {
    border: none;
}

.navbar {
    margin-bottom: 0px;
}
