@import 'src/theme/_colors.scss';

:host {
  flex-grow: 1;
}

.task-processing {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    padding: 8px 8px 0 8px;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__information {
    height: 16px;
  }

  &__task-name {
    font-size: 1.5rem;
    padding: 0 0.5rem 0.5rem 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 10;
  }

  &__action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__button--secondary {
    margin: 0 4px;
  }

  &__icon--aquamarine {
    color: $aquamarine;
  }
}

iframe {
  flex-grow: 1;
  width: 100%;
  border: none;
  overflow-x: scroll;
}

