<tree-root #tree [nodes]="treeNodes" [options]="options" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"
           (moveNode)="onMoveNode($event)" (treeDrop)="onDrop($event)">
    <ng-template #treeNodeTemplate let-node let-index="index">
        <span class="text-top">
            <svg-icon *ngIf="node.data.category" class="fa-fw pr-1" [src]="(getCategoryIcon(node.data.category) | async)?.name" data-toggle="tooltip"
                [title]="(getCategoryIcon(node.data.category) | async)?.text"></svg-icon>
        </span>
        <span>
            <strong>{{ node.data.key }}</strong>
        </span>
        <span> - {{ node.data.name }}</span>
    </ng-template>
</tree-root>
