<tree-root #tree [nodes]="treeNodes" [options]="options" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"
           (moveNode)="onMoveNode($event)" (treeDrop)="onDrop($event)">
    <ng-template #treeNodeTemplate let-node let-index="index">
      <span class="tree__svg-icon">
          <svg-icon
            *ngIf="node.data.category"
            [src]="getCategoryIcon(node.data.category).left"
            matTooltip="{{getCategoryIcon(node.data.category).right}}">
          </svg-icon>
      </span>
      <span>
          <strong>{{ node.data.key }}</strong>
      </span>
      <span> - {{ node.data.name }}</span>
    </ng-template>
</tree-root>
