<div class="workbasket-overview">

  <div class="workbasket-overview__list" #workbasketList>
    <kadai-administration-workbasket-list [expanded]="expanded"></kadai-administration-workbasket-list>
  </div>

  <div class="vertical-right-divider">
    <span class="workbasket-overview__toggle-view-button" (click)="toggleWidth()" #toggleButton>
      <mat-icon class="md-36" *ngIf="expanded">chevron_left</mat-icon>
      <mat-icon class="md-36" *ngIf="!expanded">chevron_right</mat-icon>
    </span>
  </div>

  <div class="workbasket-overview__details" *ngIf="showDetail; else showEmptyPage">
    <kadai-administration-workbasket-details [expanded]="expanded"></kadai-administration-workbasket-details>
  </div>

  <ng-template #showEmptyPage>
    <div class="workbasket-overview__empty-page">
      <div class="center-block no-detail">
        <h3 class="grey">Select a workbasket</h3>
        <svg-icon class="img-responsive empty-icon" src="./assets/icons/wb-empty.svg"></svg-icon>
      </div>
    </div>
  </ng-template>
</div>
