<ng-container *ngIf="task">
  <div class="col-md-12">
    <div class="form-group">
      <label for="task-description" class="control-label">Description</label>
      <textarea class="form-control" id="task-description" placeholder="Description"
                [(ngModel)]="task.description"
                name="task.description"></textarea>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="task-owner" class="control-label">Owner</label>
      <input type="text" class="form-control" id="task-owner" placeholder="Owner" [(ngModel)]="task.owner"
             name="task.owner">
    </div>
    <div class="form-group">
      <label for="task-priority" disabled class="control-label">Priority</label>
      <input type="text" class="form-control" id="task-priority" placeholder="no priotity set"
             [(ngModel)]="task.priority"
             name="task.priority">
    </div>
    <div class="form-group">
      <label for="task-note" class="control-label">Note</label>
      <input type="text" class="form-control" id="task-note" placeholder="Task has no Note"
             [(ngModel)]="task.note"
             name="task.note">
    </div>
    <div class="form-group">
      <label for="task-state" class="control-label">State</label>
      <input type="text" disabled class="form-control" id="task-state" placeholder="Task has no State"
             [(ngModel)]="task.state"
             name="task.state">
    </div>
    <div class="form-group">
      <label for="task-created" class="control-label">Creation Date</label>
      <input type="text" disabled class="form-control" id="task-created" [(ngModel)]="task.created"
             name="task.created">
    </div>
    <div class="form-group">
      <label for="task-claimed" class="control-label">Claim Date</label>
      <input type="text" disabled class="form-control" id="task-claimed" placeholder="Not claimed yet"
             [(ngModel)]="task.claimed"
             name="task.claimed">
    </div>
    <div class="form-group">
      <label for="task-completed" class="control-label">Completion Date</label>
      <input type="text" disabled class="form-control" id="task-completed" placeholder="Not completed yet"
             [(ngModel)]="task.completed"
             name="task.completed">
    </div>

    <div class="form-group">
      <label for="task-modified" class="control-label">Modification Date</label>
      <input type="text" disabled class="form-control" id="task-modified" placeholder="Has not been modified"
             [(ngModel)]="task.modified"
             name="task.modified">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="task-planned" class="control-label">Planned Date</label>
      <input type="text" disabled class="form-control" id="task-planned" placeholder="No plan set"
             [(ngModel)]="task.planned"
             name="task.planned">
    </div>
    <div class="form-group">
      <label for="task-due" class="control-label">Due Date</label>
      <input type="text" disabled class="form-control" id="task-due" placeholder="No deadline set"
             [(ngModel)]="task.due"
             name="task.due">
    </div>
    <div class="form-group">
      <label for="task-workbasket" class="control-label">Workbasket ID</label>
      <input type="text" disabled class="form-control" id="task-workbasket"
             placeholder="Task does not belong to a Workbasket"
             [(ngModel)]="task.workbasketSummaryResource.workbasketId"
             name="task.workbasket">
    </div>
    <div class="form-group">
      <label for="task-classification" class="control-label">Classification Key</label>
      <input type="text" disabled class="form-control" id="task-classification"
             placeholder="Task does not belong to a Classification"
             [(ngModel)]="task.classificationSummaryResource.key"
             name="task.classification">
    </div>
    <div class="form-group">
      <label for="task-businessProcessId" class="control-label">Business Process ID</label>
      <input type="text" disabled class="form-control" id="task-businessProcessId" placeholder="Task has no BPI"
             [(ngModel)]="task.businessProcessId"
             name="task.businessProcessId">
    </div>
    <div class="form-group">
      <label for="task-parentBusinessProcessId" class="control-label">Parent Business Process ID</label>
      <input type="text" disabled class="form-control" id="task-parentBusinessProcessId"
             placeholder="Task has no PBPI"
             [(ngModel)]="task.businessProcessId"
             name="task.parentBusinessProcessId">
    </div>
    <div class="form-group">
      <label for="task-read" class="control-label">Task Read?</label>
      <input type="text" disabled class="form-control" id="task-read" placeholder="Task not been read"
             [(ngModel)]="task.read"
             name="task.read">
    </div>
    <div class="form-group">
      <label for="task-transferred" class="control-label">Task Transferred?</label>
      <input type="text" disabled class="form-control" id="task-transferred"
             placeholder="Task not been transferred"
             [(ngModel)]="task.transferred"
             name="task.transferred">
    </div>
  </div>
</ng-container>
