<ng-container *ngIf="task && !requestInProgress">
  <form #TaskForm="ngForm" autocomplete="off">
    <div class="col-md-6">
      <div class="row">
        <div class="form-group col-xs-6 required">
          <label for="task-name" class="control-label">Name</label>
          <input type="text" class="form-control" id="task-name" placeholder="Name" [(ngModel)]="task.name" name="task.name">
          <taskana-field-error-display [displayError]="!isFieldValid('task.name')" [validationTrigger]="this.toogleValidationMap.get('task.name')"
            errorMessage="* Name is required">
          </taskana-field-error-display>
        </div>
        <div class="form-group col-xs-6 required">
          <label for="task.primaryObjRef.company" class="control-label">Company</label>
          <input type="text" class="form-control" id="task.primaryObjRef.company" required placeholder="Company description"
            [(ngModel)]="task.primaryObjRef.company" name="task.primaryObjRef.company">
          <taskana-field-error-display [displayError]="!isFieldValid('task.primaryObjRef.company')" [validationTrigger]="this.toogleValidationMap.get('task.primaryObjRef.company')"
            errorMessage="* Company is required">
          </taskana-field-error-display>
        </div>

      </div>
      <div class="row">
        <div class="form-group col-xs-6 required">
          <label for="task.primaryObjRef.system" class="control-label">System</label>
          <input type="text" class="form-control" id="task.primaryObjRef.system" required placeholder="System description"
            [(ngModel)]="task.primaryObjRef.system" name="task.primaryObjRef.system">
          <taskana-field-error-display [displayError]="!isFieldValid('task.primaryObjRef.system')" [validationTrigger]="this.toogleValidationMap.get('task.primaryObjRef.system')"
            errorMessage="* System is required">
          </taskana-field-error-display>
        </div>
        <div class="form-group col-xs-6 required">
          <label for="task.primaryObjRef.systemInstance" class="control-label">System instance</label>
          <input type="text" class="form-control" id="task.primaryObjRef.systemInstance" required placeholder="System Instance description"
            [(ngModel)]="task.primaryObjRef.systemInstance" name="task.primaryObjRef.systemInstance">
          <taskana-field-error-display [displayError]="!isFieldValid('task.primaryObjRef.systemInstance')"
            [validationTrigger]="this.toogleValidationMap.get('task.primaryObjRef.systemInstance')" errorMessage="* System instance is required">
          </taskana-field-error-display>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6 required">
          <label for="task.primaryObjRef.type" class="control-label">Reference type</label>
          <input type="text" class="form-control" id="task.primaryObjRef.type" required placeholder="Reference type"
            [(ngModel)]="task.primaryObjRef.type" name="task.primaryObjRef.type">
          <taskana-field-error-display [displayError]="!isFieldValid('task.primaryObjRef.type')" [validationTrigger]="this.toogleValidationMap.get('task.primaryObjRef.type')"
            errorMessage="* Reference type is required">
          </taskana-field-error-display>
        </div>
        <div class="form-group col-xs-6 required">
          <label for="task.primaryObjRef.value" class="control-label">Reference value</label>
          <input type="text" class="form-control" id="task.primaryObjRef.value" required placeholder="Reference value"
            [(ngModel)]="task.primaryObjRef.value" name="task.primaryObjRef.value">
          <taskana-field-error-display [displayError]="!isFieldValid('task.primaryObjRef.value')" [validationTrigger]="this.toogleValidationMap.get('task.primaryObjRef.value')"
            errorMessage="* Reference value is required">
          </taskana-field-error-display>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6 required">
          <label for="wb-type" class="control-label">Classification</label>
          <div class="input-group" dropdown>
            <button class="btn btn-default" type="button" dropdownToggle id="task.classificationSummaryResource"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" name="">
              {{task.classificationSummaryResource?.name }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" *dropdownMenu>
              <li *ngFor="let classification of classifications" (click)="selectClassification(classification)">
                <a>
                    <label>
                        <span class="material-icons md-20 blue ">{{classification.name === task.classificationSummaryResource?.name ?
                            'check_box': 'check_box_outline_blank'}} </span>
                        <span> {{classification.name}} </span>
                    </label>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group col-xs-4">
          <label for="task-due" class="control-label">Due date</label>
          <taskana-date-picker placeholder="Due date" [value]="task.due" [name]="'task.due'" [id]="'task-due'" (dateOutput)="updateDate($event)"></taskana-date-picker>
        </div>
        <div class="form-group col-xs-2">
          <label for="task-priority" disabled class="control-label">Priority</label>
          <taskana-number-picker [(ngModel)]="task.priority" title="priority" id="task-priority" name="task.priority"></taskana-number-picker>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="task-parent-business-p-id" class="control-label">Parent business process id</label>
        <input type="text" class="form-control" id="task-parent-business-p-id" placeholder="Parent business process iD"
          [(ngModel)]="task.parentBusinessProcessId" name="task.parentBusinessProcessId">
      </div>
      <div class="form-group">
        <label for="task-business-p-id" class="control-label">Business process iD</label>
        <input type="text" class="form-control" id="task-business-p-id" placeholder="Business process id" [(ngModel)]="task.businessProcessId"
          name="task.businessProcessId">
      </div>
      <div class="input-group form-group col-xs-12">
        <label for="wb-owner" class="control-label ">Owner</label>
        <taskana-type-ahead *ngIf="ownerField?.lookupField else ownerInput" #owner="ngModel" name="task.owner"
          [(ngModel)]="task.owner" width="100%" [isRequired]="false"></taskana-type-ahead>
        <ng-template #ownerInput>
          <input type="text" #task.owner="ngModel" class="form-control" id="ts-owner" placeholder="Owner" [(ngModel)]="task.owner"
            name="task.owner">
        </ng-template>
      </div>
      <div class="row">
        <div class="form-group col-xs-12">
          <div class="form-group">
            <label for="task-note" class="control-label">Note</label>
            <textarea class="form-control" rows="2" id="task-note" placeholder="Note" [(ngModel)]="task.note" name="task.note"></textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-container>
