<div class="workbasket-list-toolbar">

  <div class="workbasket-list-toolbar__action-toolbar">

    <!-- ACTION BUTTONS -->
    <button mat-flat-button class="workbasket-list-toolbar__add-button mr-1" matTooltip="Create new workbasket"
            (click)="addWorkbasket()">
      Add
      <mat-icon class="md-20">add</mat-icon>
    </button>

    <!-- IMPORT EXPORT -->
    <taskana-administration-import-export [currentSelection]="selectionToImport" [parentComponent]="'workbaskets'"></taskana-administration-import-export>

    <span class="workbasket-details__spacer" style="flex: 1 1 auto"> </span>

    <!-- SORTING -->
    <taskana-shared-sort
      style="margin-right: 4px;" [sortingFields]="sortingFields" (performSorting)="sorting($event)" [defaultSortBy]="workbasketDefaultSortBy">
    </taskana-shared-sort>

    <!-- FILTER -->
    <button mat-stroked-button class="workbasket-list-toolbar__filter-button" matTooltip="Display filter options" (click)="onClickFilter()">
      <mat-icon *ngIf="!showFilter">filter_list</mat-icon>
      <mat-icon *ngIf="showFilter">keyboard_arrow_up</mat-icon>
    </button>

  </div>

  <taskana-shared-filter *ngIf="showFilter" (performFilter)="filtering($event)" component="workbasket-list" (inputComponent)="setComponent($event)"></taskana-shared-filter>

</div>
