@import 'src/theme/_colors.scss';

.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter__collapsed-filter {
  display: flex;
  justify-content: space-between;
  height: 36px;
}

.collapsed-filter_input-field {
  top: -10px;
}

.filter__action-buttons {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.filter__search-button {
  background: $aquamarine;
  color: white;
}

.filter__name-and-key-input {
  display: flex;
  justify-content: space-between;
}

.dropdown-menu-users {
  & > li {
    margin-bottom: 5px;
  }
  margin-left: 15px;
}

.list-group-search {
  padding: 0 15px;
  border-top: 1px solid #ddd;
}
.list-group-search {
  border-top: none;
}

row.padding {
  padding: 1px 0;
}

.filter-list {
  list-style-type: none;
}

.filter-list > li {
  padding-top: 5px;
}

.blue {
  color: #2e9eca;
}

button.btn.btn-default.pull-right.margin-right {
  margin-top: 1px;
}
