.filter {
  display: flex;
  justify-content: space-between;
}

.filter__text-input {
  display: flex;
  flex-direction: column;
}

.filter__search-and-clear-button {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dropdown-menu-users {
  & > li {
    margin-bottom: 5px;
  }
  margin-left: 15px;
}

.list-group-search {
  padding: 0px 15px;
  border-top: 1px solid #ddd;
}
.list-group-search {
  border-top: none;
}
row.padding {
  padding: 1px 0px;
}

.filter-list {
  list-style-type: none;
}

.filter-list > li {
  padding-top: 5px;
}

.blue {
  color: #2e9eca;
}

button.btn.btn-default.pull-right.margin-right {
  margin-top: 1px;
}
