<div class="list-group-search">

  <!-- WORKBASKET FILTER -->
  <div *ngIf="filterTypeIsWorkbasket(); else tasktype">
    <div class="row">

      <!-- FILTER -->
      <button mat-icon-button class="mr-2" [matMenuTriggerFor]="menu" matTooltip="Filter workbaskets">
        <mat-icon *ngIf="filter.filterParams?.type == ''">filter_list</mat-icon>
        <taskana-administration-icon-type *ngIf="filter.filterParams?.type != ''" [type]="filter.filterParams?.type"> </taskana-administration-icon-type>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let type of allTypes | mapValues" (click)="selectType(type.key); search()">
          <taskana-administration-icon-type [type]='type.key' [text]="type.value"></taskana-administration-icon-type>
        </button>
      </mat-menu>


      <!-- TEXT INPUT -->
      <div class="col-xs-4">
        <input type="text" [(ngModel)]="filter.filterParams.name" (keyup.enter)="search()" class="form-control input-sm"
          placeholder="Filter name">
      </div>
      <div class="col-xs-4">
        <input type="text" [(ngModel)]="filter.filterParams.key" (keyup.enter)="search()" class="form-control input-sm" placeholder="Filter key">
      </div>
      <button (click)="clear(); search()" type="button" class="btn btn-default btn-sm pull-right margin-right"
        data-toggle="tooltip" title="Clear">
        <span class="material-icons md-20 blue">clear</span>
      </button>
    </div>


    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <input type="text" [(ngModel)]="filter.filterParams.description" (keyup.enter)="search()" class="form-control input-sm"
          placeholder="Filter description">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <input type="text" [(ngModel)]="filter.filterParams.owner" (keyup.enter)="search()" class="form-control input-sm"
          placeholder="Filter owner">
      </div>
      <button (click)="search()" type="button" class="btn btn-default btn-sm pull-right margin-right" data-toggle="tooltip"
        title="Search">
        <span class="material-icons md-20 blue ">search</span>
      </button>
    </div>
  </div>


  <!-- TASK FILTER -->
  <ng-template #tasktype>
    <div class="row">
      <div class="col-xs-2">
        <taskana-shared-number-picker [(ngModel)]="filter.filterParams.priority" (keyup.enter)="search()" title="priority" id="display-priority-filter"></taskana-shared-number-picker>
      </div>
      <div class="col-xs-4">
        <input type="text" [(ngModel)]="filter.filterParams.name" (keyup.enter)="search()" class="form-control" id="display-name-filter"
          placeholder="Filter name">
      </div>
      <div class="col-xs-4">
        <input type="text" [(ngModel)]="filter.filterParams.owner" (keyup.enter)="search()" class="form-control" id="display-owner-filter"
          placeholder="Filter owner">
      </div>
      <button (click)="clear(); search()" class="btn btn-default pull-right margin-right" type="button" data-toggle="tooltip"
        title="Clear">
        <span class="material-icons md-20 blue">clear</span>
      </button>
    </div>
    <div class="row">
      <div class="dropdown col-xs-2 col-xs-offset-2">
        <button class="btn btn-default" data-toggle="dropdown" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true" title="State: {{filter.filterParams.state ? filter.filterParams?.state : 'All'}}">
          <span>{{filter.filterParams.state ? filter.filterParams?.state : 'All'}}</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-users" role="menu">
          <li>
            <a *ngFor="let state of allStates | mapValues" type="button" (click)="selectState(state.key); search()"
              data-toggle="tooltip" [title]="state.value">
              <label class="blue">{{state.value}}</label>
            </a>
          </li>
        </ul>
      </div>
      <button (click)="search()" type="button" class="btn btn-default pull-right margin-right" data-toggle="tooltip"
        title="Search">
        <span class="material-icons md-20 blue">search</span>
      </button>
    </div>
  </ng-template>
</div>
