.input-icon-wrap {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  height: 35px;
}

.input-with-icon {
  border: none;
  height: 33px;
}

.input-icon span {
  padding-top: 5px;
  padding-right: 6px;
}
