<div class="classification-list-full-height">
  <ul id="cl-list-container" class="list-group footer-space">
    <li id="cl-action-toolbar" class="list-group-item tab-align">
      <div class="row">
        <div class="col-xs-9">
          <taskana-import-export-component [currentSelection]="'classifications'"></taskana-import-export-component>
        </div>
      </div>
    </li>
    <taskana-spinner [isRunning]="requestInProgress" class="centered-horizontally"></taskana-spinner>
  </ul>
  <ul id="wb-pagination" class="pagination vertical-center">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">«</span>
      </a>
    </li>
    <li>
      <a href="">1</a>
    </li>
    <li>
      <a href="">2</a>
    </li>
    <li>
      <a href="">3</a>
    </li>
    <li>
      <a href="">4</a>
    </li>
    <li>
      <a href="">5</a>
    </li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">»</span>
      </a>
    </li>
  </ul>
</div>
