<div class="footer-space-pagination-list">
  <div #wbToolbar>
    <kadai-task-list-toolbar (performSorting)="performSorting($event)" (performFilter)="performFilter()"
                             (selectSearchType)="selectSearchType($event)" [taskDefaultSortBy]="taskDefaultSortBy">
    </kadai-task-list-toolbar>
  </div>
  <kadai-task-list *ngIf="!requestInProgress" [tasks]="tasks" [(selectedId)]="selectedId"></kadai-task-list>
</div>
<kadai-shared-pagination [numberOfItems]="tasks.length" *ngIf="tasks && tasks.length > 0" [page]="tasksPageInformation"
                         [type]="type" (changePage)="changePage($event)"></kadai-shared-pagination>
