<div class="footer-space-pagination-list">
  <div #wbToolbar>
    <kadai-task-list-toolbar (performFilter)="performFilter()" (performSorting)="performSorting($event)"
                             (selectSearchType)="selectSearchType($event)" [taskDefaultSortBy]="taskDefaultSortBy">
    </kadai-task-list-toolbar>
  </div>
  <kadai-task-list *ngIf="!requestInProgress" [(selectedId)]="selectedId" [tasks]="tasks"></kadai-task-list>
</div>
<kadai-shared-pagination (changePage)="changePage($event)" *ngIf="tasks && tasks.length > 0"
                         [numberOfItems]="tasks.length"
                         [page]="tasksPageInformation" [type]="type"></kadai-shared-pagination>
