<div *ngIf="task && task.taskId" class="task-status-details">

  <!-- LEFT COLUMN -->
  <div class="task-status-details__column--left">

    <!-- MODIFICATION DATE -->
    <mat-form-field appearance="outline">
      <mat-label>Modification Date</mat-label>
      <label for="task-modified"></label>
      <input [value]="task.modified | germanTimeFormat" disabled id="task-modified" matInput name="task.modified"
             placeholder="Modified Date"
             type="text">
    </mat-form-field>


    <!-- COMPLETION DATE -->
    <mat-form-field appearance="outline">
      <mat-label>Completion Date</mat-label>
      <label for="task-completed"></label>
      <input [value]="task.completed | germanTimeFormat" disabled id="task-completed" matInput name="task.completed"
             placeholder="Complete Date"
             type="text">
    </mat-form-field>

    <!-- STATE -->
    <mat-form-field appearance="outline">
      <mat-label>State</mat-label>
      <label for="task-state"></label>
      <input [(ngModel)]="task.state" disabled id="task-state" matInput name="task.state" placeholder="State"
             type="text">
    </mat-form-field>

    <div class="task-status-details__field--group">
      <!-- TASK READ -->
      <mat-form-field appearance="outline">
        <mat-label>Task read</mat-label>
        <label for="task-read"></label>
        <input [(ngModel)]="task.read" disabled id="task-read" matInput name="task.read" placeholder="Read" type="text">
      </mat-form-field>

      <span class="task-status-details__gap"></span>
      <!-- TRANSFERRED -->
      <mat-form-field appearance="outline">
        <mat-label>Transferred</mat-label>
        <label for="task-transferred"></label>
        <input [(ngModel)]="task.transferred" disabled id="task-transferred" matInput name="task.transferred"
               placeholder="Transferred"
               type="text">
      </mat-form-field>

    </div>

  </div>

  <!-- RIGHT COLUMN -->
  <div class="task-status-details__column--right">

    <!-- CLAIM DATE -->
    <mat-form-field appearance="outline">
      <mat-label>Claim Date</mat-label>
      <label for="task-claimed"></label>
      <input [value]="task.claimed | germanTimeFormat" disabled id="task-claimed" matInput name="task.claimed"
             placeholder="Claimed Date"
             type="text">
    </mat-form-field>

    <!-- PLANNED DATE -->
    <mat-form-field appearance="outline">
      <mat-label>Planned Date</mat-label>
      <label for="task-planned"></label>
      <input [value]="task.planned | germanTimeFormat" disabled id="task-planned" matInput name="task.planned"
             placeholder="Planned Date"
             type="text">
    </mat-form-field>

    <!-- CREATION DATE -->
    <mat-form-field appearance="outline">
      <mat-label>Creation Date</mat-label>
      <label for="task-created"></label>
      <input [value]="task.created | germanTimeFormat" disabled id="task-created" matInput name="task.created"
             placeholder="Creation Date"
             type="text">
    </mat-form-field>

    <!-- RECEIVED -->
    <mat-form-field appearance="outline">
      <mat-label>Received</mat-label>
      <label for="task-received"></label>
      <input [(ngModel)]="task.received" disabled id="task-received" matInput name="task.received"
             placeholder="Received"
             type="text">
    </mat-form-field>

  </div>
</div>
