<?xml version="1.0" encoding="UTF-8"?>

<module name="org.postgresql.postgresql" xmlns="urn:jboss:module:1.9">

  <resources>
    <resource-root path="postgresql-42.6.0.jar"/>
  </resources>

  <!-- don't know why it is still javax, but this is the only way how the postgresql module is loaded -->
  <dependencies>
    <module name="javax.api"/>
    <module name="javax.transaction.api"/>
  </dependencies>

</module>
