@import 'src/theme/_colors.scss';

.distribution-targets-list-dialog__action-button {
  margin-right: 0.5rem;
}
.distribution-targets-list-dialog__check-button {
  background-color: $aquamarine;
  color: white;
}
