<div class="classification-overview">

  <kadai-administration-classification-list></kadai-administration-classification-list>
  <div class="vertical-right-divider"></div>
  <kadai-administration-classification-details
    *ngIf="showDetail; else showEmptyPage"></kadai-administration-classification-details>

  <ng-template #showEmptyPage>
    <div class="classification-overview__empty-page">
      <div class="center-block no-detail">
        <h3 class="grey select-classification">Select a classification</h3>
        <svg-icon class="img-responsive empty-icon" src="./assets/icons/classification-empty.svg"></svg-icon>
      </div>
    </div>
  </ng-template>
</div>
