<div class="classification-overview">
  <div class="vertical-right-divider">
    <taskana-administration-classification-list></taskana-administration-classification-list>
  </div>
  <div class="" *ngIf="showDetail; else showEmptyPage">
    <taskana-administration-classification-details></taskana-administration-classification-details>
  </div>

  <ng-template #showEmptyPage>
    <div class="hidden-xs hidden-sm col-md-8 container-no-items">
      <div class="center-block no-detail">
        <h3 class="grey select-classification">Select a classification</h3>
        <svg-icon class="img-responsive empty-icon" src="./assets/icons/classification-empty.svg"></svg-icon>
      </div>
    </div>
  </ng-template>
</div>
