.classification-overview {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  align-items: stretch;
}
taskana-administration-classification-list {
  width: 500px;
}
taskana-administration-classification-details {
  flex-grow: 1;
}
