.classification-overview {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  align-items: stretch;

  &__empty-page {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
kadai-administration-classification-list {
  min-width: 500px;
  max-width: 500px;
  height: 100%;
}
kadai-administration-classification-details {
  flex-grow: 1;
}
