<ng-container *ngIf="task">
  <div class="col-md-6">
    <div *ngIf="task.taskId" class="form-group">
      <label for="task-modified" class="control-label">Modification date</label>
      <input type="text" disabled class="form-control" id="task-modified" placeholder="Modified" [value]="task.modified | dateTimeZone"
        name="task.modified">
    </div>
    <div *ngIf="task.taskId" class="form-group">
      <label for="task-completed" class="control-label">Completion date</label>
      <input type="text" disabled class="form-control" id="task-completed" placeholder="Complete date" [value]="task.completed | dateTimeZone"
        name="task.completed">
    </div>
    <div *ngIf="task.taskId" class="form-group">
      <label for="task-state" class="control-label">State</label>
      <input type="text" disabled class="form-control" id="task-state" placeholder="State" [(ngModel)]="task.state"
        name="task.state">
    </div>
    <div *ngIf="task.taskId" class="form-group">
      <label for="task-read" class="control-label">Task read</label>
      <input type="text" disabled class="form-control" id="task-read" placeholder="Read" [(ngModel)]="task.read" name="task.read">
    </div>
  </div>
  <div class="col-md-6">
    <div *ngIf="task.taskId" class="form-group">
      <label for="task-claimed" class="control-label">Claim date</label>
      <input type="text" disabled class="form-control" id="task-claimed" placeholder="Claimed date" [value]="task.claimed | dateTimeZone"
        name="task.claimed">
    </div>
    <div *ngIf="task.taskId" class="form-group">
      <label for="task-planned" class="control-label">Planned date</label>
      <input type="text" disabled class="form-control" id="task-planned" placeholder="Planned date" [value]="task.planned | dateTimeZone"
        name="task.planned">
    </div>
    <div *ngIf="task.taskId" class="form-group">
      <label for="task-created" class="control-label">Creation date</label>
      <input type="text" disabled class="form-control" id="task-created" placeholder="Created" [value]="task.created | dateTimeZone"
        name="task.created">
    </div>
    <div *ngIf="task.taskId" class="form-group">
      <label for="task-transferred" class="control-label">Transferred</label>
      <input type="text" disabled class="form-control" id="task-transferred" placeholder="Transferred" [(ngModel)]="task.transferred"
        name="task.transferred">
    </div>
  </div>
</ng-container>
