<div class="container-fluid">
  <div class="row form-group">
    <taskana-workbasket-selector (tasksChanged)="loadTasks($event)"></taskana-workbasket-selector>
  </div>
  <div *ngIf="tasks?.length > 0" class="row form-group">
    <div class="col-md-6">
      <taskana-task-list [tasks]="tasks" (task)="selectTask($event)"></taskana-task-list>
    </div>
    <div class="col-md-6">
      <taskana-task-details [task]="task" *ngIf="taskDetailEnabled"></taskana-task-details>
      <div class="overlay" [ngClass]="{overlayActive:taskDetailEnabled}" (click)="taskDetailEnabled = false"></div>
    </div>
  </div>
</div>