<div class="input-group">

  <input type="text"
          placeholder="{{placeholder}}"
          class="form-control input-with-icon"
          bsDatepicker
          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD',  selectFromOtherMonth: true }"
          (bsValueChange)="dateChange($event)"
          [bsValue]="valueDate"
          name="{{name}}"
          id="{{id}}"
          #datePickerElement="bsDatepicker">
  <span class="input-icon-addon material-icons md-24 dark-green" (click)="datePickerElement.toggle()">date_range</span>
</div>
