<div class="container-scrollable">
  <taskana-shared-spinner [isRunning]="requestInProgress" class="floating"
                          (spinnerIsRunning)="spinnerRunning($event)"></taskana-shared-spinner>
  <div id="classification-details" *ngIf="classification && !spinnerIsRunning">
    <div id="classification" class="panel panel-default classification">

      <!-- TITLE + ACTION BUTTONS -->
      <div class="panel-heading">
        <div class="pull-right btn-group classification__menu-bar">
          <button type="button" (click)="onSubmit()" class="btn btn-default btn-primary"
                  data-toggle="tooltip" title="Save">
            <span class="material-icons md-20">save</span>
          </button>
          <button type="button" (click)="onRestore()" class="btn btn-default" data-toggle="tooltip"
                  title="Restore Previous Version">
            <span class="material-icons md-20 blue">restore</span>
          </button>
          <button type="button" (click)="onCopy()" data-toggle="tooltip" title="Copy"
                  class="btn btn-default" id="copyButton">
            <span class="material-icons md-20 green-blue">content_copy</span>
          </button>
          <button type="button" (click)="onRemoveClassification()" data-toggle="tooltip"
                  title="Delete" class="btn btn-default">
            <span class="material-icons md-20 red">delete</span>
          </button>
        </div>
        <h4 class="panel-header classification__headline">{{classification.name}}&nbsp; [{{classification.type}}]
          <span *ngIf="isCreatingNewClassification" class="badge warning"> {{badgeMessage$ | async}}</span>
        </h4>
      </div>

      <!-- DETAILED FIELDS -->
      <div class="panel-body classification__detailed-fields" style="padding: 0">
        <ng-form #ClassificationForm="ngForm">
          <div class="row" style="padding: 15px">
            <div class="col-md-6">

              <!--TODO pattern?-->
              <!-- KEY -->
              <div class="form-group required">
                <label for="classification-key" class="control-label">Key</label>
                <input type="text" required maxlength="32" #key="ngModel" [disabled]="!isCreatingNewClassification"
                       class="form-control"
                       id="classification-key" placeholder="Key" [(ngModel)]="classification.key"
                       name="classification.key" (input)="validateInputOverflow(key, 32)">
                <div *ngIf="inputOverflowMap.get(key.name)" class="error">{{lengthError}}</div>
                <taskana-shared-field-error-display [displayError]="key.invalid && key.dirty"
                                                    errorMessage="* Key is required">
                </taskana-shared-field-error-display>
              </div>

              <!-- NAME -->
              <div class="form-group required">
                <label for="classification-name" class="control-label">Name</label>
                <input type="text" required maxlength="255" #name="ngModel"
                       class="form-control"
                       id="classification-name" placeholder="Name"
                       [(ngModel)]="classification.name" name="classification.name"
                       (input)="validateInputOverflow(name, 255)">
                <div *ngIf="inputOverflowMap.get(name.name)" class="error">{{lengthError}}</div>
                <taskana-shared-field-error-display [displayError]="name.invalid && name.dirty"
                                                    errorMessage="* Name is required">
                </taskana-shared-field-error-display>
              </div>

              <!-- DOMAIN -->
              <div class="form-group detailed-fields__domain">
                <label for="classification-domain" class="control-label">Domain</label>
                <input type="text" disabled #domain class="form-control" id="classification-domain"
                       placeholder="Domain" [(ngModel)]="classification.domain"
                       name="classification.domain">
                <a *ngIf="!masterDomainSelected()" (click)="validChanged()">
                  <label>
                    <b>Valid in Domain:</b>
                    <span class="material-icons md-20 blue ">{{classification.isValidInDomain
                        ? 'check_box' :
                        'check_box_outline_blank'}}</span>
                  </label>
                </a>
              </div>

              <!-- PRIORITY AND CATEGORY -->
              <div class="row">
                <div class="form-group required col-xs-6">
                  <label for="classification-priority" class="control-label">Priority</label>
                  <taskana-shared-number-picker [(ngModel)]="classification.priority"
                                                name="classification.priority"
                                                id="classification-priority"
                                                [required]="true"></taskana-shared-number-picker>
                  <taskana-shared-field-error-display
                      [displayError]="!isFieldValid('classification.priority')"
                      [validationTrigger]="this.toggleValidationMap.get('classification.priority.name')"
                      errorMessage="* Priority is required">
                  </taskana-shared-field-error-display>
                </div>
                <div class="form-group required btn-group col-xs-6">
                  <label for="classification-category" class="control-label">Category</label>
                  <div class="dropdown clearfix">
                    <button class="btn btn-default" type="button" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="true" id="classification-category">
                      <span class="text-top">
                        <svg-icon class="blue fa-fw"
                                  src="{{(getCategoryIcon(classification.category) | async)?.name}}"
                                  data-toggle="tooltip"
                                  [title]="(getCategoryIcon(classification.category) | async)?.text"></svg-icon>
                      </span>
                      {{classification.category}}
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenu">
                      <li>
                        <a class="detailed-fields__categories" *ngFor="let category of getAvailableCategories(classification.type) | async"
                           (click)="selectCategory(category)">
                          <span class="text-top">
                            <svg-icon class="blue fa-fw"
                                      src="{{(getCategoryIcon(category) | async)?.name}}"
                                      data-toggle="tooltip"
                                      [title]="(getCategoryIcon(category) | async)?.text"></svg-icon>
                            {{category}}
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">

              <!-- SERVICE LEVEL -->
              <div class="form-group">
                <label for="classification-service-level" class="control-label">Service
                  Level</label>
                <input type="text" maxlength="255" class="form-control"
                       id="classification-service-level" placeholder="Service Level"
                       [(ngModel)]="classification.serviceLevel" name="classification.serviceLevel"
                       #serviceLevel="ngModel" (input)="validateInputOverflow(serviceLevel, 255)">
                <div *ngIf="inputOverflowMap.get(serviceLevel.name)" class="error">{{lengthError}}</div>
              </div>

              <!-- APPLICATION ENTRY POINT -->
              <div class="form-group">
                <label for="classification-application-entry-point" class="control-label">
                  Application entry point</label>
                <input type="text" maxlength="255" class="form-control"
                       id="classification-application-entry-point"
                       placeholder="Application entry point"
                       [(ngModel)]="classification.applicationEntryPoint"
                       name="classification.applicationEntryPoint" #appEntryPoint="ngModel"
                       (input)="validateInputOverflow(appEntryPoint, 255)">
                <div *ngIf="inputOverflowMap.get(appEntryPoint.name)" class="error">{{lengthError}}</div>
              </div>

              <!-- DESCRIPTION -->
              <div class="form-group">
                <label for="classification-description" class="control-label">Description</label>
                <textarea class="form-control" maxlength="255" rows="5"
                          id="classification-description" placeholder="Description"
                          [(ngModel)]="classification.description"
                          name="classification.description" #description="ngModel"
                          (input)="validateInputOverflow(description, 255)"></textarea>
                <div *ngIf="inputOverflowMap.get(description.name)" class="error">{{lengthError}}</div>
              </div>
            </div>
          </div>

          <!-- CUSTOM FIELDS -->
          <div class="row custom-field-row">
            <div class="custom-classification-form"
                 *ngFor="let customField of (customFields$ | async), let i = index"
                 style="width: 50%;">
              <div *ngIf="customField.visible" class="form-group custom-field-wrapper">
                <label for="classification-custom-{{i + 1}}"
                       class="control-label">{{customField.field}}</label>
                <input type="text" maxlength="255" class="form-control"
                       id="classification-custom-{{i + 1}}" placeholder="{{customField.field}}"
                       [(ngModel)]="classification[getClassificationCustom(i + 1)]"
                       name="classification.custom{{i + 1}}" #custom="ngModel"
                       (input)="validateInputOverflow(custom, 255)">
                <div *ngIf="inputOverflowMap.get(custom.name)" class="error">{{lengthError}}</div>
              </div>
            </div>
          </div>
        </ng-form>
      </div>
    </div>
  </div>
</div>
