@import 'src/theme/_colors.scss';

.classification-details {
  width: 100%;
  height: calc(100vh - 100px); // @chi, this is not working with '%' ...
  overflow-y: auto;
}


/* ACTION TOOLBAR */

.classification-details__action-toolbar {
  padding: 16px 24px 16px 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.action-toolbar__button {
  margin-right: 6px;
}

.action-toolbar__dropdown {
  border-color: $transparent-grey;
  border-bottom-style: solid;
  border-width: 1px;
}

.action-toolbar__save-button {
  background-color: $aquamarine;
  color: white;
}

.button__green-blue {
  color: $aquamarine;
}

.button__red {
  color: $invalid;
}


/* DETAILED FIELDS */

.classification__detailed-fields {
  display: flex;
  flex-direction: column;
}

.classification-details__subheading {
  padding-left: 15px;
  margin-bottom: 0;
}

.classification-details__horizontal-line {
  margin: 5px 5px 25px 5px;
  border-top-color: #555;
  border-top-width: 1.35px;
}

.classification-details__domain-and-category {
  display: flex;
  justify-content: space-between;
}

.domain-and-category__domain-checkbox {
  font-size: 20px;
  color: #555;
}

.domain-and-category__category-icon {
  fill: #555;
  margin-right: 5px;
  top: -2px;
}

.classification-details__service-and-priority {
  display: flex;
  justify-content: space-between;
}

.classification-details__mat-form-field {
  width: 70%;
  margin-right: 10px;
}

input:invalid.dirty {
  border-color: $invalid;
}
