@import 'src/theme/_colors.scss';

.classification-details {
  width: 70vw;
}
.classification-details__action-toolbar {
  padding: 8px 15px 15px 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.action-toolbar__button {
  background-color: $light-grey;
}

.action-toolbar__dropdown {
  border-color: $grey;
  border-bottom-style: solid;
  border-width: 1px;
}

.action-toolbar__save-button {
  background-color: $aquamarine;
  color: white;
}

.button__green-blue {
  color: $aquamarine;
}

.button__red {
  color: $invalid;
}

.classification-details__subheading {
  padding-left: 15px;
  margin-bottom: 0;
}

.classification-details__horizontal-line {
  margin: 5px;
}

.custom-field-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 40vh;
  width: 100%;
  margin: 0;
}

.custom-field-wrapper {
  height: 70px;
  padding: 0 15px;
}
.dropdown-menu > li {
  cursor: pointer;
}

input:invalid.dirty {
  border-color: $invalid;
}
