@import 'src/theme/_colors.scss';

.classification-details {
  width: 70vw;
}

.custom-field-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 40vh;
  width: 100%;
  margin: 0;
}

.custom-field-wrapper {
  height: 70px;
  padding: 0 15px;
}
.dropdown-menu > li {
  cursor: pointer;
}

input:invalid.dirty {
  border-color: $invalid;
}
