<div class="container container-scrollable" style="min-width: 70vw;">
    <taskana-shared-spinner [isRunning]="requestInProgress"></taskana-shared-spinner>
    <div id="workbasket-details" *ngIf="workbasket && !requestInProgress">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" (click)="selectTab('information')" [ngClass]="{'active':tabSelected === 'information'}">
                <a aria-controls="work baskets" role="tab" aria-expanded="true">
                    Information</a>
            </li>
            <li role="presentation" (click)="selectTab('accessItems')" [ngClass]="{
                'disabled': action ==='CREATE',
                'active':tabSelected === 'accessItems'}">
                <a aria-controls="Acccess" role="tab" aria-expanded="true">
                    Access</a>
            </li>
            <li role="presentation" (click)="selectTab('distributionTargets')" [ngClass]="{
                'disabled': action ==='CREATE',
                'active':tabSelected === 'distributionTargets'}">
                <a aria-controls="distribution targets" role="tab" data-toggle="tab" aria-expanded="true">
                    Distribution targets</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" [ngClass]="{'active':tabSelected === 'information'}" id="work-baskets">
                <taskana-administration-workbasket-information [workbasket]="workbasket" [action]="action"></taskana-administration-workbasket-information>
            </div>
            <div role="tabpanel" class="tab-pane" id="access-items" [ngClass]="{'active':tabSelected === 'accessItems'}">
                <taskana-administration-workbasket-access-items [workbasket]="workbasket" [action]="action" [active]="tabSelected"></taskana-administration-workbasket-access-items>
            </div>
            <div role="tabpanel" class="tab-pane" id="distribution-targets" [ngClass]="{'active':tabSelected === 'distributionTargets'}">
                <taskana-administration-workbasket-distribution-targets [workbasket]="workbasket" [action]="action" [active]="tabSelected"></taskana-administration-workbasket-distribution-targets>
            </div>
        </div>
    </div>
</div>
