@import 'src/theme/_colors.scss';

.workbasket-details {
  &__toolbar {
    background-color: white;
    padding: 16px 36px 12px 24px;
  }

  &__title {
    font-size: 1.5rem;
    padding: 4px;
  }

  &__title-name {
    display: block;
    max-width: 392px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__title-badge {
    background-color: $brown;
    border-radius: 4px;
  }

  &__spacer {
    flex: 1 1 auto;
  }

  &__button {
    margin-right: 6px;
  }

  &__save-button {
    background-color: $aquamarine;
    color: white;
  }

  &__button-aquamarine {
    color: $aquamarine;
  }

  &__button-red {
    color: $invalid;
  }
}

