<taskana-spinner [isRunning]="requestInProgress"></taskana-spinner>

<ul class="nav nav-tabs" role="tablist" *ngIf="task && !requestInProgress">
  <li class="visible-xs visible-sm hidden">
    <a (click)="backClicked()">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</a>
  </li>
  <li role="presentation" (click)="selectTab('general')" [ngClass]="{'active':tabSelected === 'general'}">
    <a role="tab" aria-expanded="true">
      General Fields
    </a>
  </li>
  <li role="presentation" (click)="selectTab('custom')" [ngClass]="{'active':tabSelected === 'custom'}">
    <a role="tab" aria-expanded="true">
      Custom Fields
    </a>
  </li>
  <li role="presentation" (click)="selectTab('custom-attributes')"
      [ngClass]="{'active':tabSelected === 'custom-attributes'}">
    <a role="tab" aria-expanded="true">
      Custom Attributes
    </a>
  </li>
  <li role="presentation" (click)="selectTab('callback-info')"
      [ngClass]="{'active':tabSelected === 'callback-info'}">
    <a role="tab" aria-expanded="true">
      Callback Information
    </a>
  </li>
</ul>
<div class="panel panel-default" *ngIf="task && !requestInProgress">
  <div class="panel-heading">
    <div class="pull-right btn-group">
      <button type="button" (click)="updateTask()" class="btn btn-default btn-primary" data-toggle="tooltip" title="Save">
        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
      </button>
      <button type="button" title="Open task to work on it" class="btn btn-default" aria-label="Left Align"
              [disabled]="workOnTaskDisabled()" (click)="openTask(task.taskId)">
        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
      </button>
      <button type="button" (click)="resetTask()" class="btn btn-default" data-toggle="tooltip" title="Undo Changes">
        <span class="glyphicon glyphicon-repeat blue" aria-hidden="true"></span>
      </button>
      <button type="button" title="Delete Task" class="btn btn-default remove" (click)="deleteTask()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    <h4 class="panel-header"><b>{{task?.name}}</b></h4>
  </div>

  <div class="panel-body">
    <form #TaskForm="ngForm">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" [ngClass]="{'active':tabSelected === 'general'}">
          <taskana-task-details-general-fields [task]="task"></taskana-task-details-general-fields>
        </div>

        <div role="tabpanel" class="tab-pane" [ngClass]="{'active':tabSelected === 'custom'}">
          <taskana-task-details-custom-fields [task]="task"></taskana-task-details-custom-fields>
        </div>
        <div role="tabpanel" class="tab-pane" [ngClass]="{'active':tabSelected === 'custom-attributes'}">
          <taskana-task-details-attributes [attributes]="task.customAttributes"></taskana-task-details-attributes>
        </div>
        <div role="tabpanel" class="tab-pane" [ngClass]="{'active':tabSelected === 'callback-info'}">
          <taskana-task-details-attributes [attributes]="task.callbackInfo" [callbackInfo]="true"></taskana-task-details-attributes>
        </div>
      </div>
    </form>
  </div>
</div>
