@import '../../../../theme/colors';

.workbasket-access-items {
  max-width: calc(100vw - 500px);
}

.workbasket-access-items__typeahead {
  text-align: left;
  min-width: 180px;
  width: calc(100% + 20px);
}
td > input[type='checkbox'] {
  margin-top: 0;
  display: block;
}

.panel-body {
  overflow-x: auto;
  padding-top: 0;
}

.required-header {
  text-align: left;
  width: 200px;
}
.required-header:after {
  content: ' *';
  color: red;
}

th {
  padding: 0.25rem;
  position: sticky;
  top: 0;
  z-index: 3;
  background: white;
}
.workbasket-access-items__table {
  margin-top: 20px;
}
.workbasket-access-items__table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.workbasket-access-items__table td,
.table th {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.workbasket-access-items__table > thead > tr > th {
  max-width: 150px;
  border-bottom: none;
}

.workbasket-access-items__permission-checkbox {
  display: inline-block;
  height: 16px;
  line-height: 0;
  margin: auto;
  order: 0;
  position: relative;
  white-space: nowrap;
  width: 16px;
  flex-shrink: 0;
  cursor: pointer;
}
input[type='checkbox']:checked {
  filter: hue-rotate(320deg) brightness(1);
}

.workbasket-access-items__add-access {
  margin: 16px 0 0 16px;
}
