@import '../../../../theme/colors';

.workbasket-access-items {
  max-width: calc(100vw - 500px);
}
td > input[type='checkbox'] {
  margin-top: 0;
}
.panel-body {
  overflow-x: auto;
  padding-top: 0;
}
.text-width {
  width: 100%;
  min-width: 180px;
}
.required-header {
  width: 200px;
}
.required-header:after {
  content: ' *';
  color: red;
}

th {
  position: sticky;
  top: 0;
  z-index: 3;
  background: white;
}

td {
  vertical-align: bottom !important;
  &.has-changes {
    border-bottom: 1px solid #f0ad4e;
  }
}
.table > thead > tr > th {
  max-width: 150px;
  border-bottom: none;
}
taskana-shared-type-ahead {
  top: 0;
}
