@import '../../../../theme/colors';

.wrapper-text {
  min-width: 150px;
  height: 47px;
  & label {
    margin-bottom: 0px;
    //font-style: italic;
    //color: grey;
    overflow: hidden;
  }
  & > div {
    & > div {
      margin-top: 2px;
      max-width: 175px;
    }
  }
  > div {
    border-bottom: 1px solid $pallete-blue !important;
    border-radius: 4px !important;
    height: 32px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 35px;
    padding-left: 12px;
  }
}
.custom-form-control {
  margin-top: -5px;
  max-height: 57px;
  & .input-group {
    width: 100%;
  }
}

.input-text {
  margin-top: 4px;
  margin-bottom: 16px;
  background: white;
  box-shadow: none;
  border-radius: 4px !important;
  //border-color: lightgray;
  border-bottom: 1px solid $pallete-blue !important;
  min-width: 150px;
  height: 32px;
  padding: 13px 0 13px 12px;
}

.field-label-wrapper {
  position: relative;
  height: 28px;
  box-sizing: content-box;
  overflow: hidden;
  pointer-events: none;
  label {
    margin-bottom: 1px;
  }
}

.form-control:focus {
  //border-color: unset;
  box-shadow: none;
}

.loading {
  position: absolute;
  top: 0px;
  right: 0;
}

.btn.rounded {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 0;
}
.search-button {
  z-index: 999;
  margin-top: 8px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  //color: $invalid;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $invalid;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $invalid;
}

.disable {
  cursor: not-allowed;
}

.invalid {
  color: $invalid;
}

.acessItems {
  
  width: 100% !important;
}

.accessItems__selection {
  min-height: 11vh !important;
  white-space: pre;
}

.align {
  left: 50%;
}
