<form [formGroup]="accessIdForm">
  <div [ngClass]="placeHolderMessage == 'Access id'? 'type-ahead--small' : 'type-ahead--large'">
    <mat-form-field appearance="outline" class="type-ahead__form-field">
      <mat-label class="type-ahead__label" matTooltip="{{name}}" matTooltipPosition="above">
        {{name || placeHolderMessage}}
      </mat-label>
      <!-- TEXT INPUT -->
      <input [matAutocomplete]="auto"
             [required]="isRequired"
             class="type-ahead__input-field"
             formControlName="accessId"
             matInput
             matTooltip="{{accessIdForm.controls['accessId'].value}}"
             placeholder="{{placeHolderMessage}}"
             type="text">
      <!-- ERROR MESSAGE -->
      <mat-error
        *ngIf="displayError && !accessIdForm.valid"
        [ngClass]="placeHolderMessage == 'Access id' ? 'type-ahead__error--accessId' : 'type-ahead__error--general'">
        Access id not valid
      </mat-error>
      <!-- AUTOCOMPLETE LIST -->
      <mat-autocomplete #auto>
        <mat-option *ngFor="let accessId of filteredAccessIds" [value]="accessId.accessId"
                    class="type-ahead__form-options" matTooltip="{{accessId.accessId}} {{accessId.name}}">
          <small>{{accessId.accessId}}&nbsp;&nbsp;{{accessId.name}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</form>

