@import '../../../../theme/colors';

.type-ahead {
  min-height: 0;

  &__form-field {
    width: 100% !important;
  }

  &__form-options {
    white-space: pre;
  }

  &__input-field {
    left: 50%;
  }

  &__error--accessId {
    white-space: nowrap;
    padding-top: 8px;
  }

  ::ng-deep &--small > .mat-form-field-appearance-outline div.mat-form-field-infix {
    padding: 0.25em;
  }
}

::ng-deep .ng-invalid.ng-touched:not(form) {
  box-shadow: unset;
}

.invalid {
  color: $invalid;
}

mat-label.type-ahead__label {
  pointer-events: auto;
}
