<div *ngIf="dataSource" class="typeahead">
  <label class="typeahead__label">
    {{dataSource.selected?.name}}
  </label>
  <form>
    <mat-form-field class="typeahead__form" focused="false" appearance="outline">
      <mat-label>{{placeHolderMessage}}</mat-label>
      <input #inputTypeAhead [required]="isRequired" class="typeahead__form-input align" matInput type="text"
        [matAutocomplete]="auto" placeholder="{{placeHolderMessage}}" [(ngModel)]="value" name="acessId"
        (ngModelChange)="changeValue()" />
      <mat-autocomplete #autoComplete autoActiveFirstOption (optionSelected)="typeaheadOnSelect($event)"
        #auto="matAutocomplete">
        <mat-option class="typeahead__form-options" *ngFor="let item of items" [value]="item.accessId">
          <small>{{item.accessId}}&nbsp;&nbsp;{{item.name}}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>