@import '../../../../theme/colors';

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
}

.disable {
  cursor: not-allowed;
}

.invalid {
  color: $invalid;
}

.typeahead__form {
  width: 100% !important;
}

.typeahead__form-options {
  white-space: pre;
}

.align {
  left: 50%;
}
