<div class="container-scrollable" >
    <taskana-spinner [isRunning]="requestInProgress" class = "centered-horizontally"></taskana-spinner>
    <app-no-access *ngIf="!requestInProgress && (!hasPermission || !workbasket && selectedId)" ></app-no-access>
    <div id ="workbasket-details" *ngIf="workbasket && !requestInProgress">
        <ul class="nav nav-tabs" role="tablist">
            <li *ngIf="showDetail" class="visible-xs visible-sm hidden">
                <a (click) = "backClicked()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Back</a>
            </li>
            <li role="presentation" class="active">
                <a href="#work-baskets" aria-controls="work baskets" role="tab" data-toggle="tab" aria-expanded="true">Information</a>
            </li>
            <li role="presentation" class=""> 
                <a href="#access-items" aria-controls="Acccess" role="tab" data-toggle="tab" aria-expanded="true">Access</a> 
            </li>
            <li role="presentation" class="">
                <a href="#distribution-targets" aria-controls="distribution targets" role="tab" data-toggle="tab" aria-expanded="true">Distribution targets</a>
            </li>
        </ul>                                 
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="work-baskets"> 
                <workbasket-information [workbasket]="workbasket"></workbasket-information>
            </div>                                     
            <div role="tabpanel" class="tab-pane inactive" id="access-items"> 
                <taskana-workbasket-access-items [workbasket]="workbasket"></taskana-workbasket-access-items>
            </div>
            <div role="tabpanel" class="tab-pane inactive" id="distribution-targets"> 
                <taskana-workbaskets-distribution-targets [workbasket]="workbasket"></taskana-workbaskets-distribution-targets>
            </div>
        </div>
    </div>
    <taskana-alert></taskana-alert>
</div>
