@import 'src/theme/_colors.scss';

.workplace-overview {
  display: flex;

  &__task-list {
    width: 500px;
    min-width: 500px;
    max-width: 500px;
  }

  &__task-details {
    flex-grow: 1;
    min-width: calc(920px - 500px);
    height: calc(100vh - 56px);
  }

  &__empty-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $grey;
  }
}
