<div>
    <ul class="nav nav-tabs" role="tablist">
        <li>
            <a style="display: none"></a>
        </li>
        <li (click)="selectTab('tasks')" role="presentation" class="active" [ngClass]="{'active':tabSelected === 'tasks'}">
            <a href="#tasks-tab" data-toggle="tab" aria-controls="Tasks" role="tab" aria-expanded="true">Tasks</a>
        </li>
        <li (click)="selectTab('workbaskets')" [ngClass]="{'active':tabSelected === 'workbaskets'}">
            <a href="#workbaskets-tab" data-toggle="tab" aria-controls="Workbaskets" role="tab" aria-expanded="true">Workbaskets</a>
        </li>
        <li (click)="selectTab('classifications')" [ngClass]="{'active':tabSelected === 'classifications'}">
            <a href="#classifications-tab" data-toggle="tab" aria-controls="Classifications" role="tab" data-toggle="tab"
                aria-expanded="true">Classifications</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tasks-tab">
            <taskana-monitor-tasks></taskana-monitor-tasks>
        </div>
        <div role="tabpanel" class="tab-pane" id="workbaskets-tab">
            <taskana-monitor-workbaskets></taskana-monitor-workbaskets>
        </div>
        <div role="tabpanel" class="tab-pane" id="classifications-tab">
            <taskana-monitor-classification-tasks></taskana-monitor-classification-tasks>
        </div>
    </div>
</div>