table {
  width: 100%;
}

.task-priority-report {
  padding: 8px;
  overflow-y: scroll;
  height: calc(100vh - 104px);

  &__header {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 2fr 1fr;
  }

  &__headline {
    margin: 0 0 0 8px;
    position: relative;
    top: 12px;
  }

  &__divider {
    margin-top: 8px;
  }

  &__workbaskets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__workbasket {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin: 24px 24px 36px 24px;
  }

  &__workbasket-headline {
    text-align: center;
    margin-bottom: 8px;
  }
}
