@import '../../../../theme/colors';

.access-items-management {
  min-width: 100%;
}

.margin {
  margin-top: 10px;
  margin-bottom: 20px;
}

.required-header:after {
  content: ' *';
  color: $invalid;
}

.has-changes {
  border-bottom: 1px solid $brown;
}

.table {
  width: 100%;
  //margin-left:2%;
  //margin-right:2%;
}
.table > thead > tr > th {
  max-width: 150px;
  border-top: none !important;
}

.table > thead > tr:last-child > th {
  max-width: 150px !important;
  border-bottom: none !important;
}

.table > tbody > tr:first-child > td {
  border-top: 2px solid $grey;
}

.wrap {
  max-width: 150px;
  word-wrap: break-word;
}
.min-width {
  min-width: 135px;
}

.table-access-item__content {
  height: 80px;
}

.mat-mini-fab {
  outline-color: none;
  border: none;
  box-shadow: none !important;
}

.header .tr {
  border: none !important;
}

.table-access-items__sorting {
  text-align: left;
}

.table-access-items__key {
  text-align: left;
  padding: 0.2rem !important;
}

.table-access-items__filter {
  width: 120px;
  margin-bottom: -31px;
  margin-top: -10px;
  margin-left: -25px;
  @media only screen and (max-width: 1600px) {
    margin-left: -5px;
  }
}

.table-access-items__clearFilter {
  outline: none;
}

.table-access-items__search-button {
  margin-left: 20px;
  margin-bottom: -5px;
}

.table-access-items__groups-button {
  margin-bottom: 80px;
  margin-left: 20px;
}

.table-access-items__revoke-button {
  float: right;
  margin-right: 30px;
  outline: none;
}

.panel-body__typeahead {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
}

.expansion-panel {
  width: 98%;
  left: 1%;
}

.expansion-panel__list {
  max-height: 100px;
  overflow: auto;
}

.table-access-items__align-header {
  text-align: left;
}