@import '../../../../theme/colors';

.access-items-management {
  min-width: 100%;
}

.margin {
  margin-top: 10px;
  margin-bottom: 20px;
}

.required-header:after {
  content: ' *';
  color: $invalid;
}

.has-changes {
    border-bottom: 1px solid $brown;
  }

.table > thead > tr > th {
  max-width: 150px;
  border-bottom: none;
}

.table > thead > tr:last-child > th {
  max-width: 150px;
  border-bottom: 2px solid $grey;
}

.wrap {
  max-width: 150px;
  word-wrap: break-word;
}
.min-width {
  min-width: 135px;
}

.modal-title {
  font-weight: bold;
  display: inline;
}
.table__access-item-groups {
  height: 80px;
}
