<div *ngIf="(tasks && tasks.length > 0); else empty_list">
  <ul #taskList id="task-list-container" class="list-group">
    <li class="list-group-item" *ngFor="let task of tasks" [class.active]="task.taskId == selectedId" type="text"
      (click)="selectTask(task.taskId)">
      <div class="row">
        <dl class="col-xs-2">
          <span data-toggle="tooltip" class="badge" [ngClass]="{
                'badge-red': task.priority <=5,
                'badge-orange': (task.priority > 5 && task.priority <=15),
                'badge-green': task.priority > 15}" title="{{task.priority}}">{{task.priority}}</span>
        </dl>
        <dl class="col-xs-8">
          <dt>
            <span data-toggle="tooltip" title="{{task.name}}">{{task.name}}</span>
            <i *ngIf="task.owner" data-toggle="tooltip" title="{{task.owner}}">, {{task.owner}}</i>
          </dt>
        </dl>
      </div>
      <div class="row">
        <dl class="col-xs-3 col-xs-offset-2">
          <dd data-toggle="tooltip" title="{{task.state}}">{{task.state}}</dd>
        </dl>
        <dl class="pull-right padding-right">
          <i data-toggle="tooltip" title="{{task.due}}">Due: {{task.due | dateTimeZone}}</i>
        </dl>

      </div>
    </li>
  </ul>
</div>
<ng-template #empty_list>
  <div class="col-xs-12 container-no-items center-block">
    <h3 class="grey">Select a workbasket</h3>
    <svg-icon class="img-responsive empty-icon workbasket-icon" src="./assets/icons/wb-empty.svg"></svg-icon>
  </div>
</ng-template>
