<div class="dropdown">
  <button class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true">
        <span class="material-icons md-20 blue  {{sort.sortDirection === 'asc'? '' : 'flip' }}"
              data-toggle="tooltip"
              title="{{sort.sortDirection === 'asc'? 'A-Z' : 'Z-A' }}">sort</span>
  </button>
  <div class="dropdown-menu dropdown-menu-{{menuPosition}} sortby-dropdown popup"
       aria-labelledby="sortingDropdown">
    <div>
      <div class="col-xs-6">
        <h5>Sort By</h5>
      </div>
      <div class="btn-group">
        <button id="sort-by-direction-asc" type="button" (click)="changeOrder('asc')"
                data-toggle="tooltip"
                title="A-Z"
                class="btn btn-default {{sort.sortDirection === 'asc'? 'selected' : '' }}">
          <span class="material-icons md-20 blue ">sort</span>
        </button>
        <button id="sort-by-direction-desc" type="button" (click)="changeOrder('desc')"
                data-toggle="tooltip"
                title="Z-A"
                class="btn btn-default {{sort.sortDirection === 'desc'? 'selected' : '' }}">
          <span class="material-icons md-20 blue flip">sort</span>
        </button>
      </div>
    </div>
    <div role="separator" class="divider"></div>
    <mat-radio-group name="sort" color="accent" class="radio-group">
      <mat-radio-button *ngFor="let sortingField of sortingFields | mapValues"
                        name="sort" id="sort-by-{{sortingField.key}}" [checked]="sortingField.key === defaultSortBy"
                        (change)="changeSortBy(sortingField.key)" [value]="sortingField.value"> {{ sortingField.value }}</mat-radio-button>
      <!--TODO make sortingby the default checked and change theme colors to use taskana colors-->
    </mat-radio-group>
  </div>
</div>
