.sortby-dropdown {
  min-width: 200px;
}

ul {
  list-style-type: none;
}
.bold-blue {
  color: #337ab7;
  font-weight: bold;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 0rem 2.5rem;
}
