.clickable {
  cursor: pointer;
}

.task-list-full-height {
  height: calc(100vh - 55px);
}

.row.list-group {
  margin-left: 2px;
}

.list-group > li {
  border-left: none;
  border-right: none;
}

ul {
  max-height: 90vh;
  margin-bottom: 10px;
  overflow: hidden;
  overflow-y: scroll;
}

a > label {
  height: 2em;
  width: 100%;
}

dd, dt {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

dt > i {
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

li > div.row > dl {
  margin-bottom: 0px;
}

li > div.row > dl:first-child {
  margin-left: 10px;
}

.no-space {
  border-top: none;
  padding: 0px
}
