<div class="task-list-full-height">
    <taskana-workbasket-selector (tasksChanged)="loadTasks($event)"></taskana-workbasket-selector>
    <!--TODO: add toolbar for sorting, also add pagination-->
  <div>
    <ul #taskList id="task-list-container" class="list-group">
      <li class="list-group-item" *ngIf="tasks === undefined || tasks.length === 0" type="text"> There are no Tasks for this workbasket </li>
      <li class="list-group-item" *ngFor="let task of tasks" [class.active]="task.taskId == selectedId"
          type="text" (click)="selectTask(task.taskId)">
        <div class="row">
          <dl class="col-xs-10">
            <dt data-toggle="tooltip" title="{{task.name}}">{{task.name}},
              <i data-toggle="tooltip" title="{{task.taskId}}">{{task.taskId}} </i>
            </dt>
            <dd data-toggle="tooltip" title="{{task.due}}">Due: {{task.due}} &nbsp;</dd>
            <dd data-toggle="tooltip" title="{{task.priority}}">Priority: {{task.priority}} &nbsp;</dd>
            <dd data-toggle="tooltip" title="{{task.state}}">State: {{task.state}} &nbsp;</dd>
          </dl>
        </div>
      </li>
    </ul>
  </div>
</div>
