@import 'src/theme/_colors.scss';

.task-list-toolbar {
  padding: 4px 16px 16px 16px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  &__search {
    display: flex;
    justify-content: space-between;
    height: 54px;
  }

  &__filter {
    display: flex;
  }

  &__filter--type-value {
    display: flex;
    justify-content: space-between;
  }

  &__button--primary {
    background-color: $aquamarine;
    color: white;
    height: 36px;
    margin-right: 4px;
  }

  &__button--secondary {
    height: 36px;
    top: 12px;
    color: #555;
  }

  &__workbasket-icon {
    width: 16px;
    height: 16px;
    fill: #555;
  }

  &__additional-toolbar {
    display: flex;
    margin-top: 12px;
  }
}

::ng-deep .task-list-toolbar__filter--type-value .mat-form-field-wrapper {
  width: 100px;
}
