@import '../../../../theme/colors';

.task-list-toolbar__search-workbasket {
  margin-left: 16px;
}

.list-group-item {
  padding: 5px 0px 2px 1px;
  border: none;
}

.tab-align {
  padding: 8px 12px 8px 0px;
  margin-bottom: 0px;

  & > div {
    margin: 6px 0px;
  }
}

ul {
  list-style-type: none;
}

.blue-font {
  color: $blue;
}

.bold-blue {
  font-weight: bold;
  color: $blue;
}

svg-icon {
  fill: $blue;
}

svg-icon.blue {
  fill: $blue;
}

@media screen and (min-width: 991px) and (max-width: 1115px) {
  .reduced-width {
    width: 37px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

small.margin-right.blue-font {
  margin-left: 4px;
}

div.dropdown-menu ul {
  padding: 15px;
}

div.input-group {
  margin-bottom: 1px;
}

button.btn.btn-primary {
  height: 34px;
}

#task-list-action-toolbar svg-icon.blue {
  position: initial;
}
