<div class="task-list-toolbar">

  <mat-tab-group (click)="onTabChange($event)" [selectedIndex]="activeTab" animationDuration="0ms">

    <!-- WORKBASKETS -->
    <mat-tab label="Workbaskets">

      <div class="task-list-toolbar__tab">

        <!-- BUTTON TO FURTHER FILTER OPTIONS -->
        <button (click)="setFilterExpansion()" class="task-list-toolbar__button--secondary" mat-stroked-button
                matTooltip="Display more filter options" style="min-width: 1%">
          <mat-icon *ngIf="!(isFilterExpanded$ | async)">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="(isFilterExpanded$ | async)">keyboard_arrow_up</mat-icon>
        </button>

        <div class="task-list-toolbar__spacer"></div>

        <!-- SEARCH FOR WORKBASKET -->
        <div class="task-list-toolbar__filter-input">
          <mat-form-field class="task-list-toolbar__filter--workbasket">
            <mat-label>Select Workbasket</mat-label>
            <input (ngModelChange)="filterWorkbasketNames()"
                   [(ngModel)]="resultName"
                   [matAutocomplete]="auto"
                   matInput
                   placeholder="Workbasket"
                   type="text">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="searchBasket()">
              <mat-option *ngFor="let workbasketName of filteredWorkbasketNames" [value]="workbasketName">
                {{workbasketName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>


        <div class="task-list-toolbar__spacer"></div>

        <!-- SEARCH BUTTON -->
        <button (click)="onFilter()" class="task-list-toolbar__button--primary"
                mat-stroked-button matTooltip="Filter Tasks" style="top: 11px">
          <mat-icon>search</mat-icon>
        </button>

        <!-- CLEAR BUTTON -->
        <button (click)="onClearFilter()" class="task-list-toolbar__button--secondary"
                mat-stroked-button matTooltip="Clear Filter" style="top: 11px;">
          <mat-icon>clear</mat-icon>
        </button>

      </div>
    </mat-tab>


    <!-- TASK SEARCH -->
    <mat-tab label="Task search">

      <div class="task-list-toolbar__tab">

        <!-- BUTTON TO FURTHER FILTER OPTIONS -->
        <button (click)="setFilterExpansion()" class="task-list-toolbar__button--secondary" mat-stroked-button
                matTooltip="Display more filter options" style="min-width: 1%">
          <mat-icon *ngIf="!(isFilterExpanded$ | async)">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="(isFilterExpanded$ | async)">keyboard_arrow_up</mat-icon>
        </button>

        <div class="task-list-toolbar__spacer"></div>

        <!-- FILTER TASKS -->
        <div class="task-list-toolbar__filter-input">
          <mat-form-field>
            <mat-label>Filter Tasks</mat-label>
            <input (keyup.enter)="onFilter(); this.searched = true;" (ngModelChange)="updateState()"
                   [(ngModel)]="filterInput" matInput
                   placeholder="Filter" type="text">
          </mat-form-field>
        </div>

        <div class="task-list-toolbar__spacer"></div>

        <!-- SEARCH BUTTON -->
        <button (click)="onFilter(); this.searched = true" class="task-list-toolbar__button--primary"
                mat-stroked-button matTooltip="Filter Tasks" style="top: 11px">
          <mat-icon>search</mat-icon>
        </button>

        <!-- CLEAR BUTTON -->
        <button (click)="onClearFilter(); this.searched = true;" class="task-list-toolbar__button--secondary"
                mat-stroked-button matTooltip="Clear Filter" style="top: 11px;">
          <mat-icon>clear</mat-icon>
        </button>

      </div>

    </mat-tab>
  </mat-tab-group>

  <!-- FURTHER FILTER OPTIONS -->
  <div *ngIf="(isFilterExpanded$ | async)" class="task-list-toolbar__additional-filter">
    <kadai-shared-task-filter></kadai-shared-task-filter>
  </div>


  <!-- ADDITIONAL MENU WHEN TASK LIST IS DISPLAYED -->
  <div *ngIf="searched" class="task-list-toolbar__additional-toolbar">

    <!-- ADD TASK BUTTON -->
    <button (click)="createTask()" class="task-list-toolbar__button--primary" mat-flat-button matTooltip="Add Task">
      Add
      <mat-icon class="md-20">add</mat-icon>
    </button>


    <!-- SORT TASKS BUTTON -->
    <kadai-shared-sort
      (performSorting)="sorting($event)" [defaultSortBy]="taskDefaultSortBy" [sortingFields]="sortingFields">
    </kadai-shared-sort>

  </div>

</div>

