<li id="wb-action-toolbar" class="list-group-item tab-align">
    <div class="row">
        <div class="col-xs-9">
            <button type="button" (click)="addWorkbasket()" data-toggle="tooltip" title="Add" class="btn btn-default">
                <span class="glyphicon glyphicon-plus green" aria-hidden="true"></span>
            </button>
            <taskana-import-export-component [currentSelection]="'workbaskets'"></taskana-import-export-component>
        </div>
        <div class="pull-right margin-right">
            <taskana-sort (performSorting)="sorting($event)"></taskana-sort>
            <button class="btn btn-default collapsed" type="button" id="collapsedMenufilterWb" aria-expanded="false" (click)="toolbarState=!toolbarState">
                <span class="glyphicon glyphicon-filter blue"></span>
            </button>
        </div>

    </div>
    <div [@toggle]="toolbarState" *ngIf="toolbarState" class="row no-overflow">
        <taskana-filter (performFilter)="filtering($event)"></taskana-filter>
    </div>
</li>