<li id="wb-action-toolbar" class="list-group-item tab-align">
  <div class="row">
    <div class="col-xs-9">
      <button type="button" (click)="addWorkbasket()" data-toggle="tooltip" title="Add" class="btn btn-default">
        <span class="glyphicon glyphicon-plus green-blue" aria-hidden="true"></span>
      </button>
      <taskana-import-export-component (importSucessful)="importEvent()" [currentSelection]="selectionToImport"></taskana-import-export-component>
    </div>
    <div class="margin-right  pull-right ">
      <button class="btn btn-default collapsed" type="button" id="collapsedMenufilterWb" aria-expanded="false" (click)="toolbarState=!toolbarState"
        data-toggle="tooltip" title="Filter">
        <span class="glyphicon glyphicon-filter blue"></span>
      </button>
      <taskana-sort [sortingFields]="sortingFields" (performSorting)="sorting($event)" class="btn-group"></taskana-sort>
    </div>

  </div>
  <div [@toggleDown]="toolbarState" class="row no-overflow">
    <taskana-filter (performFilter)="filtering($event)"></taskana-filter>
  </div>
</li>