@import '../../../../theme/variables';

.navbar.main:before {
  @include degraded-bar(right, 100%, 3px);
  box-sizing: border-box;
}

.navbar {
  height: 52px;
  margin-bottom: 0px;
}

.navbar__inverse {
  border: none;
  background-color: $dark-green;
  box-shadow: 0px 1px 5px -1px black;
  width: 100%;
}

.navbar__buttom {
  flex-grow: 1;
  display: flex !important;
  order: 1;
  margin-top: -10px;
}

.navbar__logo {
  display: flex !important;
  flex-grow: 6;
  position: relative;
  left: 40%;
  margin-top: -3px;
  order: 2;
}

h2.navbar__title {
  display: flex !important;
  flex-grow: 5;
  color: white;
  margin-top: 10px;
  order: 3;
  margin-left: 2%;
  font-size: large;
  @media only screen and (max-width: 700px) {
    display: none !important;
  }
}

svg-icon.navbar__logo-icon {
  float: left;
  width: 150px;
  height: 50px;
  position: initial;
}

.mat-icon-button {
  outline: none;
}

.mat-icon {
  color: white;
}
