<mat-sidenav-container class="sidenav">
  <mat-sidenav #sidenav mode="over" class="sidenav__drawer" [autoFocus]="false">
    <div class="sidenav__drawer-logout">
      <button mat-icon-button data-toggle="tooltip" title="Logout" (click)="logout()" aria-expanded="true"
        aria-controls="logout">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
    <a class="sidenav__drawer-user-info">
      <taskana-shared-user-information></taskana-shared-user-information>
    </a>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'taskana/administration/workbaskets'" [routerLinkActive]="['active']"
        *ngIf="administrationAccess" (click)=" sidenav.toggle()">Administration</a>
      <a mat-list-item [routerLink]="'taskana/administration/workbaskets'" [routerLinkActive]="['active']"
        class="sidenav__drawer-list-item" *ngIf="administrationAccess" (click)=" sidenav.toggle()">Workbaskets</a>
      <a mat-list-item [routerLink]="'taskana/administration/classifications'" [routerLinkActive]="['active']"
        class="sidenav__drawer-list-item" *ngIf="administrationAccess" (click)=" sidenav.toggle()">Classifications</a>
      <a mat-list-item [routerLink]="'taskana/administration/access-items-management'" [routerLinkActive]="['active']"
        class="sidenav__drawer-list-item" (click)=" sidenav.toggle()">Access Items</a>
      <a mat-list-item [routerLink]="'taskana/monitor'" [routerLinkActive]="['active']" *ngIf="monitorAccess"
        (click)=" sidenav.toggle()">Monitor</a>
      <a mat-list-item [routerLink]="'taskana/workplace'" [routerLinkActive]="['active']" *ngIf="workplaceAccess"
        (click)=" sidenav.toggle()">Workplace</a>
      <a mat-list-item [routerLink]="'taskana/history'" [routerLinkActive]="['active']" *ngIf="historyAccess"
        (click)=" sidenav.toggle()">History</a>
    </mat-nav-list>
    <div class="sidenav__drawer-version">
      <p> Taskana version: {{version}} </p>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <nav class="navbar navbar__inverse">
      <div class="navbar__button">
        <button mat-icon-button (click)=" sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="navbar__logo">
        <svg-icon class="navbar__logo-icon" src="./assets/icons/logo-copy.svg"></svg-icon>
      </div>
    </nav>
  </mat-sidenav-content>
</mat-sidenav-container>