td > input[type="checkbox"] {
    margin-top: 0px;
}
.panel-body {
    overflow-x: auto;
}
.text-width{
    width: 100%;
    min-width: 180px;
}
.required-header {
    width: 200px;
}
.required-header:after {
    
    content:" *"; 
    color: red;
}

td {
    &.has-changes {
        border-bottom: 1px solid #f0ad4e;;
    }
}
.table > thead > tr > th {
    max-width: 150px;
    border-bottom: none;
}

.has-warning.taskana-type-ahead  {
    border-bottom: 1px solid #f0ad4e;
}