<div *ngIf="workbasket" id="wb-information" class="panel panel-default">
	<div class="panel-heading">
		<div class="pull-right">
			<button type="button" (click)="onSave()" [disabled]="!AccessItemsForm.form.valid || action === 'COPY'" class="btn btn-default btn-primary">Save</button>
			<button type="button" (click)="clear()" class="btn btn-default">Undo</button>
		</div>
		<h4 class="panel-header">{{workbasket.name}}
			<span *ngIf="!workbasket.workbasketId" class="badge warning"> {{badgeMessage}}</span>
		</h4>
	</div>
	<div class="panel-body">
		<form #AccessItemsForm="ngForm">
			<table id="table-access-items" class="table table-striped table-center">
				<thead>
					<tr>
						<th></th>
						<th class="text-align required-header">AccessID</th>
						<th>Read</th>
						<th>Open</th>
						<th>Append</th>
						<th>Transfer</th>
						<th>Distribute</th>
						<th *ngIf="custom1Field.visible">{{custom1Field.field}}</th>
						<th *ngIf="custom2Field.visible">{{custom2Field.field}}</th>
						<th *ngIf="custom3Field.visible">{{custom3Field.field}}</th>
						<th *ngIf="custom4Field.visible">{{custom4Field.field}}</th>
						<th *ngIf="custom5Field.visible">{{custom5Field.field}}</th>
						<th *ngIf="custom6Field.visible">{{custom6Field.field}}</th>
						<th *ngIf="custom7Field.visible">{{custom7Field.field}}</th>
						<th *ngIf="custom8Field.visible">{{custom8Field.field}}</th>
						<th *ngIf="custom9Field.visible">{{custom9Field.field}}</th>
						<th *ngIf="custom10Field.visible">{{custom10Field.field}}</th>
						<th *ngIf="custom11Field.visible">{{custom11Field.field}}</th>
						<th *ngIf="custom12Field.visible">{{custom12Field.field}}</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let accessItem of accessItems; let index = index;" ngModelGroup="accessItems">
						<td>
							<button type="button" (click)="remove(index)" data-toggle="tooltip" title="Remove" class="btn btn-default remove">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
						</td>
						<td class="input-group text-align text-width ">
							<div [ngClass]="{
										'has-warning': (accessItemsClone[index].accessId !== accessItem.accessId),
										'has-error': !accessItem.accessId }">
								<input type="text" required #accessItemName="ngModel" class="form-control" name="accessItem.accessId-{{index}}" [(ngModel)]="accessItem.accessId"
								 placeholder="{{accessItemName.invalid? 'Access id is required': ''}}">
							</div>
						</td>
						<td [ngClass]="{'has-changes': (accessItemsClone[index].permRead !== accessItem.permRead)}">
							<input type="checkbox" disabled="disabled" name="accessItem.permRead-{{index}}" [(ngModel)]="accessItem.permRead">
						</td>
						<td [ngClass]="{'has-changes': (accessItemsClone[index].permOpen !== accessItem.permOpen)}">
							<input type="checkbox" name="accessItem.permOpen-{{index}}" [(ngModel)]="accessItem.permOpen">
						</td>
						<td [ngClass]="{'has-changes': (accessItemsClone[index].permAppend !== accessItem.permAppend)}">
							<input type="checkbox" name="accessItem.permAppend-{{index}}" [(ngModel)]="accessItem.permAppend">
						</td>
						<td [ngClass]="{'has-changes': (accessItemsClone[index].permTransfer !== accessItem.permTransfer)}">
							<input type="checkbox" name="accessItem.permTransfer-{{index}}" [(ngModel)]="accessItem.permTransfer">
						</td>
						<td [ngClass]="{'has-changes': (accessItemsClone[index].permDistribute !== accessItem.permDistribute)}">
							<input type="checkbox" name="accessItem.permDistribute-{{index}}" [(ngModel)]="accessItem.permDistribute">
						</td>
						<td *ngIf="custom1Field.visible" [ngClass]="{'has-changes': (accessItemsClone[index].permCustom1 !== accessItem.permCustom1)}">
							<input type="checkbox" name="accessItem.permCustom1-{{index}}" [(ngModel)]="accessItem.permCustom1">
						</td>
						<td *ngIf="custom2Field.visible" [ngClass]="{'has-changes': (accessItemsClone[index].permCustom2 !== accessItem.permCustom2)}">
							<input type="checkbox" name="accessItem.permCustom2-{{index}}" [(ngModel)]="accessItem.permCustom2">
						</td>
						<td *ngIf="custom3Field.visible" [ngClass]="{'has-changes': (accessItemsClone[index].permCustom3 !== accessItem.permCustom3)}">
							<input type="checkbox" name="accessItem.permCustom3-{{index}}" [(ngModel)]="accessItem.permCustom3">
						</td>
						<td *ngIf="custom4Field.visible" [ngClass]="{'has-changes': (accessItemsClone[index].permCustom4 !== accessItem.permCustom4)}">
							<input type="checkbox" name="accessItem.permCustom4-{{index}}" [(ngModel)]="accessItem.permCustom4">
						</td>
						<td *ngIf="custom5Field.visible" [ngClass]="{'has-changes': (accessItemsClone[index].permCustom5 !== accessItem.permCustom5)}">
							<input type="checkbox" name="accessItem.permCustom5-{{index}}" [(ngModel)]="accessItem.permCustom5">
						</td>
						<td *ngIf="custom6Field.visible" [ngClass]="{'has-changes': (accessItemsClone[index].permCustom6 !== accessItem.permCustom6)}">
							<input type="checkbox" name="accessItem.permCustom6-{{index}}" [(ngModel)]="accessItem.permCustom6">
						</td>
						<td *ngIf="custom7Field.visible" [ngClass]="{'has-changes': (accessItemsClone[index].permCustom7 !== accessItem.permCustom7)}">
							<input type="checkbox" name="accessItem.permCustom7-{{index}}" [(ngModel)]="accessItem.permCustom7">
						</td>
						<td *ngIf="custom8Field.visible" [ngClass]="{'has-changes': (accessItemsClone[index].permCustom8 !== accessItem.permCustom8)}">
							<input type="checkbox" name="accessItem.permCustom8-{{index}}" [(ngModel)]="accessItem.permCustom8">
						</td>
						<td *ngIf="custom9Field.visible" [ngClass]="{'has-changes': (accessItemsClone[index].permCustom9 !== accessItem.permCustom9)}">
							<input type="checkbox" name="accessItem.permCustom9-{{index}}" [(ngModel)]="accessItem.permCustom9">
						</td>
						<td *ngIf="custom10Field.visible" [ngClass]="{'has-changes': (accessItemsClone[index].permCustom10 !== accessItem.permCustom10)}">
							<input type="checkbox" name="accessItem.permCustom10-{{index}}" [(ngModel)]="accessItem.permCustom10">
						</td>
						<td *ngIf="custom11Field.visible" [ngClass]="{'has-changes': (accessItemsClone[index].permCustom11 !== accessItem.permCustom11)}">
							<input type="checkbox" name="accessItem.permCustom11-{{index}}" [(ngModel)]="accessItem.permCustom11">
						</td>
						<td *ngIf="custom12Field.visible" [ngClass]="{'has-changes': (accessItemsClone[index].permCustom12 !== accessItem.permCustom12)}">
							<input type="checkbox" name="accessItem.permCustom12-{{index}}" [(ngModel)]="accessItem.permCustom12">
						</td>
					</tr>

				</tbody>
			</table>
		</form>
		<button id="button-add-access-item" type="button" (click)="addAccessItem()" class="btn btn-default">
			<span>
				<svg-icon class="green-blue small" src="./assets/icons/wb-add.svg"></svg-icon>
			</span>
			Add new access
		</button>
		<taskana-spinner [isRunning]="requestInProgress" [positionClass]=""></taskana-spinner>
	</div>
</div>