<div class="classification-list">

  <!-- ACTION TOOLBAR -->
  <section class="classification-list__action-toolbar">
    <div class="classification-list__action-buttons">

      <!-- ADD BUTTON -->
      <button mat-flat-button class="action-toolbar__add-button mr-1" matTooltip="Create new classification"
              (click)="addClassification()">
        Add
        <mat-icon class="md-20">add</mat-icon>
      </button>

      <!-- IMPORT EXPORT BUTTONS -->
      <taskana-administration-import-export
        class="classification-list__import-export" [currentSelection]="taskanaType.CLASSIFICATIONS" [parentComponent]="'classifications'">
      </taskana-administration-import-export>
    </div>

    <!-- FILTER -->
    <div class="classification-list__filter">

      <!-- CATEGORY FILTER -->
      <div class="classification-list__category-filter">
        <button mat-stroked-button class="category-filter__filter-button" [matMenuTriggerFor]="menu"
                matTooltip="Filter Category">

          <mat-icon *ngIf="selectedCategory == ''">filter_list</mat-icon>
          <svg-icon class="category-filter__icons" [src]="(getCategoryIcon(selectedCategory) | async)?.name"
                    [title]="(getCategoryIcon(selectedCategory) | async)?.text"
                    *ngIf="selectedCategory != ''">
          </svg-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="selectCategory('')" class="category-filter__all-button">
            <svg-icon class="category-filter__categories" src="./assets/icons/asterisk.svg"
                      [title]="(getCategoryIcon('all') | async)?.text"></svg-icon>
            <span>All</span>
          </button>
          <button mat-menu-item *ngFor="let category of categories$ | async" (click)="selectCategory(category)">
            <svg-icon class="category-filter__categories" [src]="(getCategoryIcon(category) | async)?.name"
                      [title]="(getCategoryIcon(category) | async)?.text"></svg-icon>
            <span> {{category}} </span>
          </button>
        </mat-menu>
      </div>

      <!-- FILTER INPUT FIELD -->
      <div class="filter__input">
        <mat-form-field appearance="legacy" floatLabel="auto" class="filter__input-field">
          <mat-label>Filter classification</mat-label>
          <input matInput [ngModel]="inputValue" (ngModelChange)="inputValue = $event" matTooltip="Type to filter classifications">
        </mat-form-field>
      </div>

      <!-- TYPE FILTER -->
      <taskana-administration-classification-types-selector
        class="pull-right">
      </taskana-administration-classification-types-selector>

    </div>
  </section>


  <!-- CLASSIFICATION TREE -->
  <taskana-administration-tree *ngIf="(classifications && classifications.length) else empty_classifications"
                               [filterText]="inputValue" [filterIcon]="selectedCategory"
                               (switchTaskanaSpinnerEmit)="setRequestInProgress($event)"></taskana-administration-tree>
  <ng-template #empty_classifications>
    <div *ngIf="!requestInProgress" class="classification-list__no-items">
      <h3 class="grey">There are no classifications</h3>
    </div>
  </ng-template>
</div>
