.classification-list {
  height: calc(100vh - 55px);
  min-width: 30vw;
  margin-left: 16px;
  padding-right: 16px;
}

.classification-list__action-toolbar {
  display: flex;
  border: none;
  margin-bottom: 0;
  padding: 8px 4px 8px 4px;
}

.classification-list__import-export {
  display: flex;
}
.classification-list__filter {
  display: flex;
}

.filter__category-filter {
  padding-top: 7px;
}
.filter__input {
  width: 100%;
}
.filter__input-field {
  width: 100% !important;
}

.categories {
  margin: 0;
  top: -2px;
}
