.classification-list {
  height: calc(100vh - 55px);
  min-width: 30vw;
}

.classification-list_action-toolbar {
  display: flex;
  border: none;
  margin-bottom: 0;
  border-bottom: 1px dotted #ddd;
  padding: 8px 4px 8px 4px;
}

.classification-list_import-export {
  display: flex;
}

input.filter-input {
  border: solid 1px grey;
  margin: 10px 2px;
  height: 32px;
  width: 100%;
  padding-left: 10px;
}
