@import 'src/theme/_colors.scss';

.classification-list {
  height: calc(100vh - 55px);
  width: 450px;
  margin-left: 16px;
  padding-right: 16px;
}

.classification-list__action-toolbar {
  display: flex;
  border: none;
  margin-bottom: 0;
  padding: 8px 4px 0 4px;
}
.action-toolbar__add-button {
  background-color: $aquamarine;
  color: white;
}

.classification-list__import-export {
  display: flex;
}
.classification-list__filter {
  display: flex;
}

.filter__category-filter {
  padding-top: 7px;
}
.filter__input {
  width: 100%;
  margin-right: 12px;
}
.filter__input-field {
  width: 100% !important;
}

.categories {
  fill: #555;
  margin: 0;
  top: -2px;
}
