
.container-no-detail .no-detail-icon {

    display: block;
    width: 150px;
    height: 150px;
    fill: grey;
    margin: 20px auto;
    
}

.container-no-detail{
    top:30vh;
    height: 65vh;
}

.center-block.no-detail {
    text-align: center;
}

.vertical-right-divider {
    border-right: 1px solid #ccc;
}

