<div class="pagination" #pagination>
  <mat-paginator class="pagination__mat-paginator" [length]="page?.totalElements" [pageIndex]="pageSelected - 1 "
    hidePageSize="true" [pageSize]="page?.size" (page)="changeToPage($event)" [showFirstLastButtons]="true" [ngClass]="
                 {'pagination__mat-paginator--expanded': expanded,
                 'pagination__mat-paginator--collapsed': !expanded }"></mat-paginator>
  <div class="pagination__go-to" *ngIf="expanded">
    <div class="pagination__go-to-label">Page:</div>
    <mat-form-field>
      <input #inputTypeAhead matInput type="text" [matAutocomplete]="auto" [(ngModel)]="pageSelected" name="accessId"
        (ngModelChange)="filter(pageSelected)" (focus)="filter(pageSelected)" />
      <mat-autocomplete #autoComplete autoActiveFirstOption (optionSelected)="goToPage($event.option.value)"
        #auto="matAutocomplete">
        <mat-option *ngFor="let pageNumber of filteredPages" [value]="pageNumber">{{ pageNumber }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>