.pagination {
  display: flex;
  max-width: 100%;
  background-color: #fafafa;
}
mat-paginator {
  background-color: #fafafa;
  width: 70%;
  font-feature-settings: 'tnum';
  font-variant-numeric: tabular-nums;
}
//Original
.pagination__go-to {
  margin-right: 12px;
  display: flex;
  align-items: baseline;
  mat-form-field {
    width: 56px;
    margin: 6px 4px 0 4px;
    font-size: 12px;
  }
  .pagination__go-to-label {
    margin: 0 4px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
  }
}
