<div *ngIf="workbasket" id="wb-information" class="workbasket-distribution-targets">
  <mat-toolbar class="distribution-targets-list__action-toolbar" >
    <button mat-button (click)="onClear()">clear</button>
    <button mat-button (click)="onSave()">save</button>

    <button mat-flat-button class="distribution-targets-list__action-button"
            *ngIf="!sideBySide" (click)="toggleSideBySideView()">
      Display side-by-side
      <mat-icon class="distribution-targets-list__button-icon">view_week</mat-icon>
    </button>
    <button mat-flat-button class="distribution-targets-list__action-button"
            *ngIf="sideBySide" (click)="toggleSideBySideView()">
      Display in single-view
      <mat-icon class="distribution-targets-list__button-icon">view_agenda</mat-icon>
    </button>

    <!-- SIDE BY SIDE VIEW BUTTONS -->
    <div class="distribution-targets-list__action-buttons"  *ngIf="sideBySide">
      <div class="distribution-targets-list__action-buttons--selected"
           style="justify-content: flex-end; margin-right: 2%">
        <button mat-flat-button color="warn"
                class="distribution-targets-list__action-button distribution-targets-list-dialog__remove-button"
                (click)="moveDistributionTargets(side.RIGHT)">
          Remove selected distribution target
          <mat-icon>remove</mat-icon>
        </button>
      </div>
      <span style="flex-grow: 1"> </span>
      <div class="distribution-targets-list__action-buttons--chooser"
           style="justify-content: flex-end;">
        <button mat-flat-button color="accent"
                class="distribution-targets-list__action-button distribution-targets-list-dialog__add-button"
                (click)="moveDistributionTargets(side.LEFT)">
          Add selected distribution targets
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <!-- SINGLE VIEW BUTTONS WHEN DISPLAYING SELECTED DISTRIBUTION TARGETS -->
    <div class="distribution-targets-list__action-buttons distribution-targets-list__action-buttons--selected"
         *ngIf="!displayingDistributionTargetsPicker && !sideBySide">
      <button mat-flat-button color="accent"
              class="distribution-targets-list__action-button distribution-targets-list-dialog__display-button"
              (click)="displayDistributionTargetsPicker()">
        Display available distribution targets
        <mat-icon>launch</mat-icon>
      </button>

      <span style="flex: 1 1 auto"> </span>

      <button mat-flat-button color="warn"
              class="distribution-targets-list__action-button distribution-targets-list-dialog__remove-button"
              (click)="moveDistributionTargets(side.RIGHT)">
        Remove selected distribution target
        <mat-icon>remove</mat-icon>
      </button>
    </div>

    <!-- SINGLE VIEW BUTTONS WHEN CHOOSING DISTRIBUTION TARGETS -->
    <div class="distribution-targets-list__action-buttons distribution-targets-list__action-buttons--chooser"
         *ngIf="displayingDistributionTargetsPicker && !sideBySide">
      <button mat-flat-button color="accent"
              class="distribution-targets-list__action-button distribution-targets-list-dialog__add-button"
              (click)="moveDistributionTargets(side.LEFT)">
        Add selected distribution targets
        <mat-icon>add</mat-icon>
      </button>

      <span style="flex: 1 1 auto"> </span>

      <button mat-flat-button color="warn" class="distribution-targets-list-dialog__check-button"
              (click)="displayingDistributionTargetsPicker=!displayingDistributionTargetsPicker">
        Close selection
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>


  <div class="distribution-targets-list__lists"
       [ngClass]="sideBySide ? 'distribution-targets-list__lists--side' : 'distribution-targets-list__lists--single'">

    <!-- DISTRIBUTION TABLE-->
    <taskana-administration-workbasket-distribution-targets-list
      [ngClass]="sideBySide ? 'distribution-targets-list__lists--left-side' : ''"
      #dualListLeft id="dual-list-Left"
      header="Selected distribution targets"
      [distributionTargets]="distributionTargetsRight"
      [distributionTargetsSelected]="distributionTargetsSelected"
      (performDualListFilter)="performFilter($event)"
      [side]="side.RIGHT"
      (scrolling)="onScroll()"
      [loadingItems]="loadingItems"
      [(allSelected)]="selectAllLeft"
      [hidden]="displayingDistributionTargetsPicker && !sideBySide"
    >

    </taskana-administration-workbasket-distribution-targets-list>

    <taskana-administration-workbasket-distribution-targets-list
      #dualListR id="dual-list-right"
      header="Available distribution targets"
      [distributionTargets]="availableDistributionTargets"
      [side]="side.LEFT"
      [distributionTargetsSelected]="distributionTargetsSelected"
      (performDualListFilter)="performFilter($event)"
      (scrolling)="onScroll()"
      [loadingItems]="loadingItems"
      [(allSelected)]="selectAllRight"
      *ngIf="displayingDistributionTargetsPicker"
    >

    </taskana-administration-workbasket-distribution-targets-list>
  </div>
</div>
