<div *ngIf="workbasket" id="wb-information">

  <div class="workbasket-information-wrapper">
    <ng-form #WorkbasketForm="ngForm">
      <div class="form">

        <!-- GENERAL FIELDS -->
        <h6 class="subheading"> General </h6>
        <mat-divider class="horizontal-line"></mat-divider>

        <!-- GENERAL -->
        <div class="general">

          <!-- GENERAL LEFT COLUMN -->
          <div class="general__left-column">

            <!-- KEY -->
            <mat-form-field appearance="outline">
              <mat-label>Key</mat-label>
              <label for="workbasket-key"></label>
              <input #key="ngModel" (input)="validateInputOverflow(key, 64, $event)" [(ngModel)]="workbasket.key"
                     [disabled]="action == 0 || action == 3" id="workbasket-key" matInput
                     maxlength="64" name="workbasket.key" placeholder="Key" required
                     type="text">
            </mat-form-field>
            <div *ngIf="inputOverflowMap.get(key.name)" class="error">{{lengthError}}</div>
            <kadai-shared-field-error-display *ngIf="action != 3" [displayError]="!isFieldValid('workbasket.key')"
                                              [validationTrigger]="this.toggleValidationMap.get('workbasket.key')"
                                              errorMessage="* Key is required">
            </kadai-shared-field-error-display>

            <!-- NAME -->
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <label for="workbasket-name"></label>
              <input #name="ngModel" (input)="validateInputOverflow(name, 255)" [(ngModel)]="workbasket.name"
                     id="workbasket-name" matInput maxlength="255"
                     name="workbasket.name"
                     placeholder="Name" required type="text">
            </mat-form-field>
            <div *ngIf="inputOverflowMap.get(name.name)" class="error">{{lengthError}}</div>
            <kadai-shared-field-error-display [displayError]="!isFieldValid('workbasket.name')"
                                              [validationTrigger]="this.toggleValidationMap.get('workbasket.name')"
                                              errorMessage="* Name is required">
            </kadai-shared-field-error-display>

            <!-- OWNER -->
            <kadai-shared-type-ahead (accessIdEventEmitter)="onSelectedOwner($event)"
                                     (isFormValid)="isOwnerValid = $event"
                                     *ngIf="lookupField else ownerInput"
                                     [displayError]="true"
                                     [entityId]="workbasket.workbasketId"
                                     [savedAccessId]="workbasket.owner"
                                     placeHolderMessage="Owner">
            </kadai-shared-type-ahead>

            <ng-template #ownerInput>
              <input #owner="ngModel" (input)="validateInputOverflow(owner, 128)" [(ngModel)]="workbasket.owner"
                     class="form-control" id="wb-owner" maxlength="128"
                     name="workbasket.owner" placeholder="Owner" required
                     type="text">
              <div *ngIf="inputOverflowMap.get(owner.name)" class="error">{{lengthError}}</div>
              <kadai-shared-field-error-display [displayError]="!isFieldValid('workbasket.owner')"
                                                [validationTrigger]="this.toggleValidationMap.get('workbasket.owner')"
                                                errorMessage="* Owner is required">
              </kadai-shared-field-error-display>
            </ng-template>

            <!-- DESCRIPTION AND TYPE -->
            <div class="general__description-and-type">

              <!-- TYPE -->
              <mat-form-field appearance="outline" style="width: 28%">
                <mat-label>Type</mat-label>
                <mat-select [(value)]="this.workbasket.type">
                  <mat-select-trigger>
                    <kadai-administration-icon-type [type]='workbasket.type'></kadai-administration-icon-type>
                    {{allTypes.get(workbasket.type)}}
                  </mat-select-trigger>
                  <mat-option *ngFor="let type of allTypes | mapValues | removeEmptyType" value="{{type.key}}">
                    <kadai-administration-icon-type [text]="type.value" [type]='type.key'>
                    </kadai-administration-icon-type>
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- DESCRIPTION -->
              <div style="display: block; width: 68%">
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>Description</mat-label>
                  <label for="workbasket-description"></label>
                  <textarea #description="ngModel" (input)="validateInputOverflow(description, 255)"
                            [(ngModel)]="workbasket.description" cdkAutosizeMaxRows="7" cdkAutosizeMinRows="7"
                            cdkTextareaAutosize id="workbasket-description" matInput
                            maxlength="255" name="workbasket.description"
                            placeholder="Description"></textarea>
                </mat-form-field>
                <mat-error *ngIf="inputOverflowMap.get(description.name)" class="error">{{lengthError}}</mat-error>
              </div>
            </div>
          </div>

          <!-- GENERAL SPACER -->
          <div class="general__spacer"></div>

          <!-- GENERAL RIGHT COLUMN -->
          <div class="general__right-column">

            <!-- DOMAIN -->
            <mat-form-field appearance="outline">
              <mat-label>Domain</mat-label>
              <label for="workbasket-domain"></label>
              <input [(ngModel)]="workbasket.domain" disabled id="workbasket-domain" matInput
                     name="classification.domain"
                     placeholder="Domain" type="text">
            </mat-form-field>

            <!-- ORGANISATIONAL LEVEL 1 -->
            <mat-form-field appearance="outline">
              <mat-label>OrgLevel 1</mat-label>
              <input #orgLevel1="ngModel" (input)="validateInputOverflow(orgLevel1, 255)"
                     [(ngModel)]="workbasket.orgLevel1" matInput maxlength="255"
                     name="workbasket.orgLevel1" placeholder="OrgLevel 1"
                     type="text">
            </mat-form-field>
            <div *ngIf="inputOverflowMap.get(orgLevel1.name)" class="error">{{lengthError}}</div>

            <!-- ORGANISATIONAL LEVEL 2 -->
            <mat-form-field appearance="outline">
              <mat-label>OrgLevel 2</mat-label>
              <input #orgLevel2="ngModel" (input)="validateInputOverflow(orgLevel2, 255)"
                     [(ngModel)]="workbasket.orgLevel2" matInput maxlength="255"
                     name="workbasket.orgLevel2" placeholder="OrgLevel 2"
                     type="text">
            </mat-form-field>
            <div *ngIf="inputOverflowMap.get(orgLevel2.name)" class="error">{{lengthError}}</div>

            <!-- ORGANISATIONAL LEVEL 3 -->
            <mat-form-field appearance="outline">
              <mat-label>OrgLevel 3</mat-label>
              <input #orgLevel3="ngModel" (input)="validateInputOverflow(orgLevel3, 255)"
                     [(ngModel)]="workbasket.orgLevel3" matInput maxlength="255"
                     name="workbasket.orgLevel3" placeholder="OrgLevel 3"
                     type="text">
            </mat-form-field>
            <div *ngIf="inputOverflowMap.get(orgLevel3.name)" class="error">{{lengthError}}</div>

            <!-- ORGANISATIONAL LEVEL 4 -->
            <mat-form-field appearance="outline">
              <mat-label>OrgLevel 4</mat-label>
              <input #orgLevel4="ngModel" (input)="validateInputOverflow(orgLevel4, 255)"
                     [(ngModel)]="workbasket.orgLevel4" matInput maxlength="255"
                     name="workbasket.orgLevel4" placeholder="OrgLevel 4"
                     type="text">
            </mat-form-field>
            <div *ngIf="inputOverflowMap.get(orgLevel4.name)" class="error">{{lengthError}}</div>

          </div>
        </div>


        <!-- CUSTOM FIELDS -->
        <h6 class="subheading"> Custom Fields </h6>
        <mat-divider class="horizontal-line"></mat-divider>

        <div class="custom-fields">
          <ng-container *ngFor="let customField of customFields$ | async; let index = index">
            <div *ngIf="customField.visible" class="custom-fields__input">
              <mat-form-field appearance="outline" class="custom-fields__form-field">
                <mat-label>{{customField.field}}</mat-label>
                <label for='wb-custom-{{index+1}}'></label>
                <input #custom="ngModel" (input)="validateInputOverflow(custom, 255)"
                       [(ngModel)]="workbasket[getWorkbasketCustomProperty(index + 1)]"
                       [placeholder]="customField.field" id="wb-custom-{{index+1}}"
                       matInput maxlength="255" name="workbasket[{{getWorkbasketCustomProperty(index + 1)}}]"
                       type="text">
              </mat-form-field>
              <div *ngIf="inputOverflowMap.get(custom.name)" class="error">{{lengthError}}</div>
            </div>
          </ng-container>
        </div>

      </div>

    </ng-form>
  </div>
</div>
