.workbasket-list {
  min-width: 30vw;
}
.row.list-group {
  margin-left: 2px;
}

.list-group > li {
  border-left: none;
  border-right: none;
}

a > label {
  height: 2em;
  width: 100%;
}
dd,
dt {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

dt > i {
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

li > div.row > dl {
  margin-bottom: 0px;
}
li > div.row > dl:first-child {
  margin-left: 15px;
}

.no-space {
  border-top: none;
  padding: 0px;
}
