<div class="workbasket-list">
  <!-- TOOLBAR -->
  <section #wbToolbar class="workbasket-list__toolbar">
    <kadai-administration-workbasket-list-toolbar (performSorting)="performSorting($event)"
                                                  [workbasketDefaultSortBy]="workbasketDefaultSortBy"
                                                  [workbasketListExpanded]="expanded"
                                                  [workbaskets]="workbasketsSummary$ | async">
    </kadai-administration-workbasket-list-toolbar>
  </section>

  <!-- WORKBASKET LIST -->
  <div *ngIf="((workbasketsSummary$ | async) && (workbasketsSummary$ | async)?.length > 0) else empty_workbaskets"
       class="workbasket-list__list-items">
    <mat-selection-list #workbasket [multiple]="false">
      <mat-list-option (click)="selectWorkbasket(workbasket.workbasketId)"
                       *ngFor="let workbasket of (workbasketsSummary$ | async);"
                       [selected]="workbasket.workbasketId == selectedId"
                       [value]="workbasket.workbasketId"
                       class="workbasket-list__list-item">

        <!-- WORKBASKET LIST ITEM -->
        <div class="workbasket-list__list-item--wrapper">

          <!-- ICON -->
          <div *ngIf="expanded" class="workbasket-list__list-item--icon">
            <kadai-administration-icon-type [selected]="workbasket.workbasketId === selectedId" [type]="workbasket.type"
                                            size="large"
                                            tooltip="true"></kadai-administration-icon-type>
          </div>

          <!-- INFORMATION -->
          <div class="workbasket-list__list-item--info">

            <div class="workbasket-list__list-item--wrap">
              <b>{{workbasket.name}}</b>, <i>{{workbasket.key}}</i>
            </div>
            <p class="workbasket-list__list-item--no-wrap">{{workbasket.description}}</p>
            <p class="workbasket-list__list-item--no-wrap">{{workbasket.owner}}</p>

            <div *ngIf="workbasket.markedForDeletion" class="workbasket-list__list-item--marked">
              <span class="material-icons md-20 {{workbasket.workbasketId === selectedId ? 'white': 'red' }} "
                    data-toggle="tooltip"
                    title="Marked for deletion">error</span>
            </div>

          </div>
        </div>

        <mat-divider></mat-divider>

      </mat-list-option>
    </mat-selection-list>
  </div>


  <!-- SPINNER and EMPTY WORKBASKET LIST -->
  <ng-template #empty_workbaskets>
    <div *ngIf="!requestInProgress && !requestInProgressLocal" class="workbasket-list__no-items">
      <h3 class="grey">There are no workbaskets</h3>
    </div>
  </ng-template>
</div>

<!-- PAGINATION -->

<kadai-shared-pagination
  (changePage)="changePage($event)"
  [expanded]="expanded"
  [numberOfItems]="(workbasketsSummary$ | async)?.length"
  [page]="(workbasketsSummaryRepresentation$ | async) ? (workbasketsSummaryRepresentation$ | async)?.page : (workbasketsSummaryRepresentation$ | async)"
  [resetPaging]="resetPagingSubject.asObservable()"
  [type]="type">
</kadai-shared-pagination>
