@import 'src/theme/_colors.scss';


.workbasket-list {
  width: 450px;
  max-height: calc(100% - 100px);
  overflow-y: hidden;
}
.workbasket-list__workbaskets {
  height: calc(100% - 122px);
  overflow-y: scroll;
}

.workbasket-list__workbaskets-item {
  padding: 25px 0;
}
.mat-list-item {
  height: 90px !important;
}
.mat-list-single-selected-option {
  background-color: $green !important;
  color: white;
}
.workbaskets-item__wrapper {
  display: flex;
}
.workbaskets-item__icon {
  padding: 32px 32px 32px 16px;
}
.workbaskets-item__info {
  display: block;
  padding: 8px 0;
}
p {
  margin: 0;
}
