
.container-no-access .no-access-icon {
    display: block;
    width: 150px;
    height: 150px;
    fill: grey;
    margin: 20px auto;
}

.container-no-access{
    top:30vh;
}

.center-block.no-access {
    text-align: center;
}
.back-button {
    margin:0px;
    border:none;
}
