@import '../../../theme/colors';

.table {
  max-height: calc(100vh - 152px);
  padding-right: 15px;
}

.table-header {
  background-color: $light-grey;
  cursor: pointer;
}

.table-footer {
  display: block;
}

.table-cell {
  height: 35px;
  max-height: 35px;
  min-height: 35px;
}

.divDate {
  padding-right: 20px;
}

.btn-xs {
  padding: 0px;
}

.table .btn {
  border: none;
}

.icon-space {
  margin-right: 20px;
}

.divTablePagination {
  margin: 0 auto;
}
