<mat-sidenav-container class="sidenav">
  <mat-sidenav #sidenav [autoFocus]="false" class="sidenav__drawer" mode="over">
    <div class="sidenav__drawer__container">
      <div class="sidenav__drawer__container-menu">
        <button (click)="toggleSidenav()" class="navbar_button-toggle" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="sidenav__drawer__container-logout">
        <button (click)="logout()" aria-controls="logout" aria-expanded="true" data-toggle="tooltip"
                mat-icon-button
                title="Logout">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </div>
    <taskana-shared-user-information
      class="sidenav__drawer-user-info"></taskana-shared-user-information>
    <taskana-sidenav-list></taskana-sidenav-list>
    <div class="sidenav__drawer-version">
      <p> Taskana version: {{version}} </p>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <taskana-shared-nav-bar></taskana-shared-nav-bar>
    <div (window:resize)="onResize()">
      <div class="taskana-main">
        <div class="taskana-main__progress-bar">
          <mat-progress-bar *ngIf="requestInProgress" color="accent"
                            mode="indeterminate"></mat-progress-bar>
          <mat-progress-bar *ngIf="requestInProgress" color="accent"
                            mode="indeterminate"></mat-progress-bar>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
