@import '../theme/variables';

.sidenav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 0px;
}

.sidenav__drawer {
  position: absolute;
  z-index: 999;
  box-shadow: none;
  width: 350px;
  background-color: $dark-green;
  box-shadow: 3px 0px 10px -1px $dark-green;
}

.sidenav__drawer-list-item {
  margin-left: 30px;
}

.sidenav__drawer-logout {
  text-align: end;
}

.sidenav__drawer-version {
  color: $grey;
  position: absolute;
  bottom: 5px;
  font-size: 12px;
  margin-left: 16px;
}

.sidenav__drawer-user-info {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: -16px;
}

.mat-icon-button {
  outline: none;
}

.mat-icon {
  color: white;
}

::ng-deep .mat-drawer-inner-container {
  overflow: visible !important;
}

::ng-deep .mat-drawer {
  overflow-y: visible !important;
}
