<taskana-nav-bar></taskana-nav-bar>
<div class="container-fluid container-main" (window:resize)="onResize($event)">
    <div class="row ">
        <router-outlet></router-outlet>
        <taskana-general-message-modal *ngIf="modalErrorMessage" [(message)]="modalErrorMessage" [title]="modalTitle" error="true"></taskana-general-message-modal>
        <taskana-spinner [isRunning]="requestInProgress" isModal="true"></taskana-spinner>
        <taskana-alert></taskana-alert>
        <taskana-remove-confirmation></taskana-remove-confirmation>
    </div>
</div>
