<div class="input-group dropdown" dropdown>
  <button class="btn btn-default dropdown-toggle" type="button" dropdownToggle
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" name="">
    {{ itemSelected?.name }}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu height-and-scroll">
    <li *ngFor="let item of list" (click)="selectItem(item)">
      <a>
        <label>
          <span class="material-icons md-20 blue ">{{item.key === itemSelected?.key ?
            'check_box' : 'check_box_outline_blank'}} </span>
          <span> {{item.name}} </span>
        </label>
      </a>
    </li>
  </ul>
</div>
