@import './src/assets/_colors';

.wrapper-text {
    min-width: 150px;
    height: 47px;
    & label {
        margin-bottom: 0px;
        padding-left: 12px;
        font-style: italic;
        overflow: hidden;
     }
    &> div{
        &> div {
            border-bottom: 1px solid $light-grey;
            margin-top:6px;
            padding-left: 12px;
            min-width: 175px;
        }
    }
    > div{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 35px;
    }

}
.custom-form-control {
    height: 50px;
    &  .input-group{
        width: 100%;
    }
}

.input-text {
    background: none;
    box-shadow: none;
    border: none;
    padding: 0px;
    border-radius: 0px;
    min-width: 150px;
    height: 28px;
    border-bottom: 1px solid $light-grey;
    &:focus{
        border-bottom: 1px solid $aquamarine;
    }
    padding-left: 12px;
    padding-right: 35px;

}

.field-label-wrapper{
    position: relative;
    height: 28px;
    padding-left: 12px;
    box-sizing: content-box;
    overflow: hidden;
    pointer-events: none;
}

.form-control:focus {
    border-color: none;
    box-shadow: none;
}

.loading {
    position: absolute;
    top: 0px;
    right: 0;
}

.btn.rounded {
    position: absolute;
    top: 0px;
    right: 0px;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $invalid;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $invalid;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $invalid;
}

.disable {
    cursor: not-allowed;
}

.invalid {
  color: $invalid;
}
