$blue: #2e9eca;
$grey: #ddd;
$invalid: #a94442;
.wrapper-text {
    height: 47px;
    & label {
        width: 100%;
        margin-bottom: 0px;
        padding-left: 12px;
        font-style: italic;
     }
    & div {
        width: 100%;
        border-bottom: 1px solid $grey;
        margin-top:6px;
        padding-left: 12px;
    }
    > div{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 12px;
    }
}

.input-text {
    background: none;
    box-shadow: none;
    border: none;
    padding: 0px;
    border-radius: 0px;
    //margin-top: 18px;
    height: 22px;
    border-bottom: 1px solid $grey;
    &:focus{
        border-bottom: 1px solid $blue;
    }
    padding-left: 12px;
    
}

.field-label-wrapper{
    position: relative;
    //left: 8px;
    box-sizing: content-box;
    overflow: hidden;
    pointer-events: none;    
}


.form-control:focus {
    border-color: none;
    box-shadow: none;
}
.loading {
    position: absolute;
    right: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $invalid;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $invalid;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: $invalid;
}