.dropdown-menu-users {
    &>li{
        margin-bottom: 5px;
    }
    margin-left: 15px;
}

.btn-users-list {
    border: 0px solid transparent;
}

.list-group-search {
    padding: 10px 15px;
    margin-top: 12px;
    border-top: 1px solid #ddd;
}