<div type="text" id="{{target}}" class="list-group-seach collapse">
	<div class="row"> 
		<div class="dropdown col-xs-2">
			<button class="btn btn-default {{!filter.type? 'glyphicon glyphicon-asterisk blue' : '' }}" type="button" id="dropdownMenufilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 
				<svg-icon *ngIf="filter.type" class="small blue" src="./assets/icons/{{(filter.type === 'PERSONAL')? 'user.svg': (filter.type === 'GROUP')? 'users.svg' :''}}"></svg-icon>
			</button> 
			<ul class="dropdown-menu dropdown-menu-users" role="menu">
				<li>
					<button type="button" (click)="selectType(-1)" placeholder="individual" class="btn btn-default glyphicon glyphicon-asterisk btn-users-list blue" data-toggle="tooltip" title="all">
					</button>
				</li>
				<li>
					<button type="button" (click)="selectType(0)" placeholder="individual" class="btn btn-default btn-users-list" data-toggle="tooltip" title="individual">
							<svg-icon  class="small blue" src="./assets/icons/user.svg"></svg-icon>
					</button>
				</li>
				<li>
					<button type="button" (click)="selectType(1)" placeholder="group" data-toggle="tooltip" title="group" class="btn btn-default btn-users-list">
							<svg-icon class="small blue" src="./assets/icons/users.svg"></svg-icon>
					</button>            
				</li>
			</ul>
		</div>
		<div class="col-xs-4">
			<input type="text" [(ngModel)]= "filter.name" (keyup.enter)="search()" class="form-control" id="wb-display-name-filter" placeholder="Filter name">
		</div>
		<div class="col-xs-4">
			<input type="text" [(ngModel)]= "filter.key" (keyup.enter)="search()" class="form-control" id="wb-display-key-filter" placeholder="Filter key">
		</div>
		<button (click)="clear()" type="button"
				class="btn btn-default glyphicon glyphicon-remove-circle blue pull-right margin-right" data-toggle="tooltip" title="Clear">
		</button>
	</div>
	<div class="row"> 
		<div class="col-xs-2">
		</div>
		<div class="col-xs-8">
			<input type="text" [(ngModel)]= "filter.description" (keyup.enter)="search()" class="form-control" id="wb-display-description-filter" placeholder="Filter by description">
		</div>
	</div>
	<div class="row"> 
		<div class="col-xs-2">
		</div>
		<div class="col-xs-8">
			<input type="text" [(ngModel)]= "filter.owner" (keyup.enter)="search()" class="form-control" id="wb-display-task-owner-filter" placeholder="Filter by Task owner">
		</div>
		<button (click)="search()" type="button"
				class="btn btn-default glyphicon glyphicon-search blue pull-right margin-right" data-toggle="tooltip" title="Search">
		</button>
</div>                                
</div>  