.dropdown-menu-users {
    &>li{
        margin-bottom: 5px;
    }
    margin-left: 15px;
}

.list-group-search {
    padding: 10px 15px;
}

.btn-users-list {
    border: 0px solid transparent;
    /* this was 1px earlier */
}