$blue: #66afe9;
.pagination{
    margin: 15px 0 0 0;
}
a.pagination{
    width: 35px;
    height: 35px;
    margin: 0 10px;
    padding: 0;
    background-color: aliceblue;
     > input{
        margin: 1px;
        width: 30px;
        height: 30px;
        text-align: center;
        background-color: aliceblue;
        border: none;
        outline: none;
        &:focus{
            border-color: $blue;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }
     }
}

ul.pagination{
    cursor: pointer;
    overflow: hidden;
}

.footer{
    margin: 5px 5px 0 0;
    color: $blue;
}