.theme-green .bs-datepicker-head {
  background-color: #246972;
}

.theme-green .bs-datepicker-body table td span.selected,
.theme-green .bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*='select-']:after,
.theme-green .bs-datepicker-body table td[class*='select-'] span:after {
  background-color: #246972;
}

.theme-green .bs-datepicker-body table td.week span {
  color: #175263;
}

.bs-datepicker-container {
  padding: 0;
}
