.ng-invalid:not(form)  {
    border-color: $invalid;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .required-text {
      padding-left: 3px;
      color: $invalid;
  }

 textarea {
    resize: none;
}
