@use '~@angular/material' as mat;
@include mat.core();

$my-app-primary: mat.define-palette(mat.$blue-grey-palette);
$my-app-accent: mat.define-palette(mat.$teal-palette, 500, 900, A100);
$my-app-warn: mat.define-palette(mat.$red-palette, 600);
$my-app-theme: mat.define-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include mat.all-component-themes($my-app-theme);
