.classification-list-full-height {
  height: calc(100vh - 55px);
}

.list-group-item {
  padding: 5px 0px 2px 1px;
  border: none;
}

.tab-align{
  margin-bottom: 0px;
  border-bottom: 1px dotted #ddd;
  &>div{
   margin: 6px 0px;
  }
}

input.filter-input {
  border: solid 1px grey;
  margin: 10px 2px;
  height: 32px;
  width: 100%;
  padding-left: 10px;
}

.category-filter {
    margin: 7px 2px;
}

.dropdown-menu-classification{
  margin-left: 15px;
  min-width: 0px;
}
