.classification-list-full-height {
  height: calc(100vh - 55px);
}

.list-group-item {
  padding: 5px 0px 2px 1px;
  border: none;
}

.tab-align{
  margin-bottom: 0px;
  border-bottom: 1px solid #ddd;
  &>div{
   margin: 6px 0px;
  }
}

input.filter-input {
  margin: 10px 2px;
  height: 32px;
  width: 100%;
  padding-left: 10px;
}
