<div class="classification-list-full-height">
	<li id="wb-action-toolbar" class="list-group-item tab-align">
		<div class="row">
			<div class="col-xs-12">
				<button type="button" (click)="addClassification()" data-toggle="tooltip" title="Add" class="btn btn-default">
					<span class="glyphicon glyphicon-plus green" aria-hidden="true"></span>
				</button>
				<taskana-import-export-component [currentSelection]="selectionToImport"></taskana-import-export-component>
				<taskana-classification-types-selector class="pull-right" [classificationTypes]="classificationsTypes" [(classificationTypeSelected)]="classificationTypeSelected"
				 (classificationTypeChanged)=selectClassificationType($event)></taskana-classification-types-selector>
			</div>
		</div>
	</li>
	<taskana-spinner [isRunning]="requestInProgress" ></taskana-spinner>
	<taskana-tree *ngIf="classifications" [treeNodes]="classifications" [selectNodeId] ="selectedId" (selectNodeIdChanged) ="selectClassification($event)"></taskana-tree>
</div>