<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" th:href="@{/img/logo.png}" type="image/x-icon">
    <title>Kadai login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/4.1.3/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
</head>
<body>

<div class="container">
    <h1 class="row justify-content-center">Welcome to Kadai</h1>
    <div class="row justify-content-center">
        <div>
            <img alt="memorynotfound logo" class="logo" th:src="@{/img/logo.png}"/>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-xs-12 col-md-6">
            <form method="post" th:action="@{/login}">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username or password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        You have been logged out.
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>:
                    <input autofocus="autofocus"
                           class="form-control"
                           id="username"
                           name="username"
                           placeholder="Username"
                           type="text">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>:
                    <input class="form-control"
                           id="password"
                           name="password"
                           placeholder="Password"
                           type="password">
                </div>
                <div class="form-group">
                    <div class="row justify-content-center">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input class="form-control btn btn-info"
                                   id="login-submit"
                                   name="login-submit"
                                   type="submit"
                                   value="Log In">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>