@import 'src/theme/_colors.scss';

.fileover {
  border: 4px solid $green;
}

.routing-upload {
  width: 100%;
  height: calc(100vh - 104px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -68px;

  > h1 {
    margin-bottom: 48px;
  }

  &__upload-area {
    height: 400px;
    width: 400px;
    padding: 16px;
    background-color: $light-grey;
    border: 4px solid $light-grey;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__upload-area:hover {
    border: 4px solid $green;
  }
  &__icon {
    height: 64px;
    width: 64px;
    color: $grey;
  }
  &__description {
    margin-top: 16px;
    color: $grey;
  }
}
