<mat-accordion>
  <mat-expansion-panel (closed)="isPanelOpen = false"
                       (opened)="isPanelOpen = true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Task Filter
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- CONTENT -->
    <div *ngFor="let key of keys">
      <mat-checkbox (change)="emitFilter($event.checked, key)">{{key}}</mat-checkbox>
    </div>

    <div *ngIf="!filtersAreSpecified"> There are not filters specified.</div>

  </mat-expansion-panel>
</mat-accordion>
