<input #selectedFile type="file" accept=".json" (change)="onSelectFile($event)" class="hide" />
<svg-icon class="btn btn-default green-blue" src="./assets/icons/import.svg" title="Import" (click)="selectedFile.click()"></svg-icon>
<div class="dropdown" style="display: inline">
  <svg-icon class="btn btn-default red dropdown-toggle" title="Export" src="./assets/icons/export.svg" data-toggle="dropdown"
    aria-expanded="true" (click)="updateDomains()"></svg-icon>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" (click)="export()">
        <label>All Domains</label>
      </a>
    </li>
    <div role="separator" class="divider"></div>
    <li *ngFor="let domain of domains">
      <a class="dropdown-item" (click)="export(domain)">
        <label>{{domain === '' ? 'Master' : domain}}</label>
      </a>
    </li>
  </ul>
</div>