<div id="dual-list-Left" class="dual-list list-left col-xs-12 col-md-5-6 container">
	<div class="row">
		<div class="col-xs-2">
			<button (click)="toggleDtl = !toggleDtl; selectAll(toggleDtl);" class="btn btn-default no-style" title="select all">
				<span aria-hidden="true" class="glyphicon blue {{toggleDtl?  'glyphicon-check':  'glyphicon-unchecked'}}"></span>
			</button>
		</div>
		<div class="col-xs-7">
			<h5>Available distribution targets</h5>
		</div>
		<div class="pull-right">
			<button class="btn btn-default collapsed" type="button" id="collapsedMenufilterWbDta" data-toggle="collapse"
			[attr.data-target]="'#wb-dta-filter-bar-' + sideNumber"
			 aria-expanded="false">
				<span class="glyphicon glyphicon-filter blue"></span>
			</button>
		</div>
	</div>
	<taskana-filter target="wb-dta-filter-bar-{{sideNumber}}" (performFilter)="performAvailableFilter($event)"></taskana-filter>
	<taskana-spinner [isRunning]="requestInProgress" positionClass="centered-spinner" class="centered-horizontally floating"></taskana-spinner>
	<ul class="list-group ">
		<li class="list-group-item" *ngFor="let distributionTarget of distributionTargets  | selectWorkbaskets: distributionTargetsSelected: side"
		 [class.selected]="distributionTarget.selected" type="text" (click)="distributionTarget.selected = !distributionTarget.selected">
			<div class="row">
				<dl class="col-xs-1">
					<dt>
						<taskana-icon-type class="vertical-align" [type]="distributionTarget.type"></taskana-icon-type>
					</dt>
				</dl>
				<dl class="col-xs-10">
					<dt>{{distributionTarget.name}} ({{distributionTarget.key}}) </dt>
					<dd>{{distributionTarget.description}}</dd>
					<dd>{{distributionTarget.owner}} &nbsp;</dd>
				</dl>
			</div>
		</li>
	</ul>
</div>