<ng-container *ngIf="task && !requestInProgress">
  <ng-form #TaskForm="ngForm" autocomplete="off">
    <div class="col-md-6">
      <div class="row">
        <div class="form-group col-xs-6 required">
          <label for="task-name" class="control-label">Name</label>
          <input type="text" class="form-control" id="task-name" placeholder="Name" [(ngModel)]="task.name"
                 name="task.name" maxlength="255" #name (input)="validateInputOverflow(name, 255)">
          <div *ngIf="inputOverflowMap.get(name.name)" class="error">{{lengthError}}</div>
          <taskana-shared-field-error-display [displayError]="!isFieldValid('task.name')"
                                              [validationTrigger]="this.toggleValidationMap.get('task.name')"
                                              errorMessage="* Name is required">
          </taskana-shared-field-error-display>
        </div>
        <div class="form-group col-xs-6 required">
          <label for="task.primaryObjRef.company" class="control-label">Company</label>
          <input type="text" class="form-control" id="task.primaryObjRef.company" required
                 placeholder="Company description"
                 [(ngModel)]="task.primaryObjRef.company" name="task.primaryObjRef.company" maxlength="32" #company
                 (input)="validateInputOverflow(company, 32)">
          <div *ngIf="inputOverflowMap.get(company.name)" class="error">{{lengthError}}</div>
          <taskana-shared-field-error-display [displayError]="!isFieldValid('task.primaryObjRef.company')"
                                              [validationTrigger]="this.toggleValidationMap.get('task.primaryObjRef.company')"
                                              errorMessage="* Company is required">
          </taskana-shared-field-error-display>
        </div>

      </div>
      <div class="row">
        <div class="form-group col-xs-6 required">
          <label for="task.primaryObjRef.system" class="control-label">System</label>
          <input type="text" class="form-control" id="task.primaryObjRef.system" required
                 placeholder="System description"
                 [(ngModel)]="task.primaryObjRef.system" name="task.primaryObjRef.system" maxlength="32" #system
                 (input)="validateInputOverflow(system, 32)">
          <div *ngIf="inputOverflowMap.get(system.name)" class="error">{{lengthError}}</div>
          <taskana-shared-field-error-display [displayError]="!isFieldValid('task.primaryObjRef.system')"
                                              [validationTrigger]="this.toggleValidationMap.get('task.primaryObjRef.system')"
                                              errorMessage="* System is required">
          </taskana-shared-field-error-display>
        </div>
        <div class="form-group col-xs-6 required">
          <label for="task.primaryObjRef.systemInstance" class="control-label">System instance</label>
          <input type="text" class="form-control" id="task.primaryObjRef.systemInstance" required
                 placeholder="System Instance description"
                 [(ngModel)]="task.primaryObjRef.systemInstance" name="task.primaryObjRef.systemInstance" maxlength="32"
                 #instance (input)="validateInputOverflow(instance, 32)">
          <div *ngIf="inputOverflowMap.get(instance.name)" class="error">{{lengthError}}</div>
          <taskana-shared-field-error-display [displayError]="!isFieldValid('task.primaryObjRef.systemInstance')"
                                              [validationTrigger]="this.toggleValidationMap.get('task.primaryObjRef.systemInstance')"
                                              errorMessage="* System instance is required">
          </taskana-shared-field-error-display>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6 required">
          <label for="task.primaryObjRef.type" class="control-label">Reference type</label>
          <input type="text" class="form-control" id="task.primaryObjRef.type" required placeholder="Reference type"
                 [(ngModel)]="task.primaryObjRef.type" name="task.primaryObjRef.type" maxlength="32" #type
                 (input)="validateInputOverflow(type, 32)">
          <div *ngIf="inputOverflowMap.get(type.name)" class="error">{{lengthError}}</div>
          <taskana-shared-field-error-display [displayError]="!isFieldValid('task.primaryObjRef.type')"
                                              [validationTrigger]="this.toggleValidationMap.get('task.primaryObjRef.type')"
                                              errorMessage="* Reference type is required">
          </taskana-shared-field-error-display>
        </div>
        <div class="form-group col-xs-6 required">
          <label for="task.primaryObjRef.value" class="control-label">Reference value</label>
          <input type="text" class="form-control" id="task.primaryObjRef.value" required placeholder="Reference value"
                 [(ngModel)]="task.primaryObjRef.value" name="task.primaryObjRef.value" maxlength="32" #value
                 (input)="validateInputOverflow(value, 32)">
          <div *ngIf="inputOverflowMap.get(value.name)" class="error">{{lengthError}}</div>
          <taskana-shared-field-error-display [displayError]="!isFieldValid('task.primaryObjRef.value')"
                                              [validationTrigger]="this.toggleValidationMap.get('task.primaryObjRef.value')"
                                              errorMessage="* Reference value is required">
          </taskana-shared-field-error-display>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6 required">
          <label for="classification" class="control-label">Classification</label>
          <taskana-shared-dropdown [list]="classifications" (performClassification)="changedClassification($event)"
                                   [itemSelected]="task?.classificationSummary"
                                   id="classification"></taskana-shared-dropdown>
          <taskana-shared-field-error-display [displayError]="isClassificationEmpty"
                                              errorMessage="* Classification is required">
          </taskana-shared-field-error-display>
        </div>
        <div class="form-group col-xs-4">
          <label for="task-due" class="control-label">Due date</label>
          <taskana-shared-date-picker placeholder="Due date" [value]="task.due" [name]="'task.due'" [id]="'task-due'"
                                      (dateOutput)="updateDate($event)"></taskana-shared-date-picker>
        </div>
        <div class="form-group col-xs-2">
          <label for="task-priority" class="control-label">Priority</label>
          <taskana-shared-number-picker [(ngModel)]="task.priority" title="priority" id="task-priority"
                                        name="task.priority"></taskana-shared-number-picker>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="task-parent-business-p-id" class="control-label">Parent business process id</label>
        <input type="text" class="form-control" id="task-parent-business-p-id" placeholder="Parent business process iD"
               [(ngModel)]="task.parentBusinessProcessId" name="task.parentBusinessProcessId" maxlength="128"
               #parentBusinessProcessId
               (input)="validateInputOverflow(parentBusinessProcessId, 128)">
        <div *ngIf="inputOverflowMap.get(parentBusinessProcessId.name)" class="error">{{lengthError}}</div>
      </div>
      <div class="form-group">
        <label for="task-business-p-id" class="control-label">Business process iD</label>
        <input type="text" class="form-control" id="task-business-p-id" placeholder="Business process id"
               [(ngModel)]="task.businessProcessId" name="task.businessProcessId" maxlength="128" #businessProcessId
               (input)="validateInputOverflow(businessProcessId, 128)">
        <div *ngIf="inputOverflowMap.get(businessProcessId.name)" class="error">{{lengthError}}</div>
      </div>
      <div class="input-group form-group col-xs-12">
        <label for="ts-owner" class="control-label ">Owner</label>
        <taskana-shared-type-ahead *ngIf="(tasksCustomisation$ |async)?.information.owner.lookupField else ownerInput"
                                   #owner="ngModel" name="task.owner"
                                   [(ngModel)]="task.owner" width="100%"
                                   [isRequired]="false"></taskana-shared-type-ahead>
        <ng-template #ownerInput>
          <input type="text" #owner="ngModel" class="form-control" id="ts-owner" placeholder="Owner"
                 [(ngModel)]="task.owner" name="task.owner" maxlength="32"
                 (input)="validateInputOverflow(owner, 32)">
          <div *ngIf="inputOverflowMap.get(owner.name)" class="error">{{lengthError}}</div>
        </ng-template>
      </div>
      <div class="row">
        <div class="form-group col-xs-12">
          <div class="form-group">
            <label for="task-note" class="control-label">Note</label>
            <textarea class="form-control" rows="2" id="task-note" placeholder="Note" [(ngModel)]="task.note"
                      name="task.note" maxlength="4096" #note
            (input)="validateInputOverflow(note, 4096)"></textarea>
            <div *ngIf="inputOverflowMap.get(note.name)" class="error">{{lengthError}}</div>
          </div>
        </div>
      </div>
    </div>
  </ng-form>
</ng-container>
