<nav class="navbar navbar-fixed-top"> 
  <div class="navbar show no-border-radius navbar-inverse no-gutter"> 
      <div class="col-xs-11 col-md-11">
          <svg-icon class="logo hidden visible-xs visible-sm" src="./assets/icons/logo.svg"></svg-icon>
          <ul class="nav logo">
              <svg-icon class="logo hidden-xs hidden-sm" src="./assets/icons/logo.svg"></svg-icon>
              <p class="navbar-brand no-margin hidden-xs hidden-sm"> <a [href]="monitorUrl">Taskana Monitor </a></p>
          </ul>
      </div>                
      <div class="col-xs-1">
          <button type="button" class="navbar-toggle collapsed show" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>         
  </div>     
  <div id="navbar" class="collapse pull-right navbar-inverse" data-html="false"> 
      <ul class="nav navbar-nav navbar-right content-margin">
            <li><a [href]="adminUrl">Admininistration</a></li>
            <li><a [href]="workplaceUrl">Workplace</a></li>
      </ul>         
  </div>     
</nav>
<div class="container">
  <tabset #staticTabs>
    <tab heading="Tasks">
      <tasks></tasks>
    </tab>
    <tab heading="Workbaskets">
      <workbasket></workbasket>
    </tab>
  </tabset>
  
</div>


