name: CI
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - dependabot/**
    tags:
      - v[0-9]+\.[0-9]+\.[0-9]+
  pull_request:

jobs:
  compile_backend:
    name: Compile all maven modules
    runs-on: ubuntu-20.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v3
      - name: Dump context
        uses: crazy-max/ghaction-dump-context@v1
      - name: bar
        run: echo ${{ github.workflow }}-${{ github.repository }}/${{ github.ref }}