
.container-no-detail .no-detail-icon {
    display: block;
    width: 150px;
    height: 150px;
    fill: grey;
    margin: 0 auto;
}
.container-no-detail{
    top:30vh;
}

.center-block.no-detail {
    width: 250px;
    text-align: center;
}

